# Cleaning the data

# 1.Libs

In [62]:
## librerias para limpieza de datos 
import pandas as pd # para leer y manipular datos 
import numpy as np # para operaciones matematicas

## libreria para acceder a funciones del sistema 
import sys 
sys.path.append("../")
import src.suport as sp


## librerias para tratamiento de texto
import re


# opciones de pandas para ver todas las columnas 
pd.set_option('display.max_columns', None)

# 2.Carga de datos

In [2]:
df = pd.read_csv("../data/raw/attacks.csv",encoding = "ISO-8859-1")

In [3]:
df.shape

(25723, 24)

In [4]:
df.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [5]:
df.tail()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

⚠️Nota: Se observan muchos nulos en ciertas filas

# 3.Limpieza

## 3.1.Limpiezaformato columnas

In [6]:
df.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

Algunas columnas tienen espacios en blanco, mayusculas o nombres que no nos gustan. Procedemos a editar ciertos aspecto para que sean mas homogeneos.

In [7]:
lista_columnas = df.columns
# ponemos todo en minusculas 
for x in lista_columnas:
    print(x.lower())

case number
date
year
type
country
area
location
activity
name
sex
age
injury
fatal (y/n)
time
species
investigator or source
pdf
href formula
href
case number.1
case number.2
original order
unnamed: 22
unnamed: 23

In [8]:
# en lista comprimida
lista_columnas = [x.lower() for x in lista_columnas]
print(lista_columnas)

['case number', 'date', 'year', 'type', 'country', 'area', 'location', 'activity', 'name', 'sex ', 'age', 'injury', 'fatal (y/n)', 'time', 'species ', 'investigator or source', 'pdf', 'href formula', 'href', 'case number.1', 'case number.2', 'original order', 'unnamed: 22', 'unnamed: 23']

In [9]:
for x in lista_columnas:
    print(x.replace(" ","_"))

case_number
date
year
type
country
area
location
activity
name
sex_
age
injury
fatal_(y/n)
time
species_
investigator_or_source
pdf
href_formula
href
case_number.1
case_number.2
original_order
unnamed:_22
unnamed:_23

In [10]:
# reemplazamos los espacios por guiones bajos 
lista_columnas = [x.replace(" ","_") for x in lista_columnas] 
print(lista_columnas)

['case_number', 'date', 'year', 'type', 'country', 'area', 'location', 'activity', 'name', 'sex_', 'age', 'injury', 'fatal_(y/n)', 'time', 'species_', 'investigator_or_source', 'pdf', 'href_formula', 'href', 'case_number.1', 'case_number.2', 'original_order', 'unnamed:_22', 'unnamed:_23']

In [11]:
# si el ultimo caracter de es un _ lo eliminamos
lista_columnas = []
for x in lista_columnas:
    if x.endswith("_"):
        lista_columnas.append(x[:-1])
    else:
        lista_columnas.append(x)

In [12]:
# si el ultimo caracter de es un _ lo eliminamos
lista_columnas = [x[:-1] if x.endswith("_") else x for x in lista_columnas]
print(lista_columnas)

[]

> Resumen: limpieza de columnas

In [13]:
# minusculas 
df.columns = [x.lower() for x in df.columns]
df.columns

Index(['case number', 'date', 'year', 'type', 'country', 'area', 'location',
       'activity', 'name', 'sex ', 'age', 'injury', 'fatal (y/n)', 'time',
       'species ', 'investigator or source', 'pdf', 'href formula', 'href',
       'case number.1', 'case number.2', 'original order', 'unnamed: 22',
       'unnamed: 23'],
      dtype='object')

In [14]:
# reemplazamos los espacios por guiones bajos 
df.columns = [x.replace(" ","_") for x in df.columns] 
df.columns

Index(['case_number', 'date', 'year', 'type', 'country', 'area', 'location',
       'activity', 'name', 'sex_', 'age', 'injury', 'fatal_(y/n)', 'time',
       'species_', 'investigator_or_source', 'pdf', 'href_formula', 'href',
       'case_number.1', 'case_number.2', 'original_order', 'unnamed:_22',
       'unnamed:_23'],
      dtype='object')

In [15]:
# si el ultimo caracter de es un _ lo eliminamos
df.columns = [x[:-1] if x.endswith("_") else x for x in df.columns]
df.columns

Index(['case_number', 'date', 'year', 'type', 'country', 'area', 'location',
       'activity', 'name', 'sex', 'age', 'injury', 'fatal_(y/n)', 'time',
       'species', 'investigator_or_source', 'pdf', 'href_formula', 'href',
       'case_number.1', 'case_number.2', 'original_order', 'unnamed:_22',
       'unnamed:_23'],
      dtype='object')

- Comprobacion de resultados

In [16]:
df.head(3)

,case_number,date,year,type,country,area,location,activity,name,sex,age,injury,fatal_(y/n),time,species,investigator_or_source,pdf,href_formula,href,case_number.1,case_number.2,original_order,unnamed:_22,unnamed:_23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN

## 3.2.Limpieza de duplicados

In [17]:
# miramos la dimension de la tabla
df.shape

(25723, 24)

In [18]:
# detectamos los duplicados absolutos 
df.duplicated().sum()

19411

In [19]:
# Eliminamos aquellas rows que son exactamente iguales 
df.drop_duplicates(inplace=True)

In [20]:
# confirmamos que se han eliminado 
df.duplicated().sum()

0

In [21]:
# miramos la dimension de la tabla
df.shape

(6312, 24)

## 3.3.Limpieza de Nulos

### 3.3.1.Analisis de nulos

In [22]:
# miramos la dimension de la tabla
df.shape

(6312, 24)

#### FILAS

In [23]:
#miramos las filas que tienen todos los valores nulos 
df.isnull().sum(axis=1).value_counts()

3     1515
2     1423
4     1202
5     1194
6      540
7      293
8      102
9       26
10       7
22       7
23       2
24       1
Name: count, dtype: int64

In [24]:
# generamos un filtro para visualizar aquellos registros que tienen mas de 22 valores nulos
df[df.isnull().sum(axis=1) >= 22]

,case_number,date,year,type,country,area,location,activity,name,sex,age,injury,fatal_(y/n),time,species,investigator_or_source,pdf,href_formula,href,case_number.1,case_number.2,original_order,unnamed:_22,unnamed:_23
6302,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6304.0,NaN,NaN
6303,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6305.0,NaN,NaN
6304,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6306.0,NaN,NaN
6305,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6307.0,NaN,NaN
6306,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6308.0,NaN,NaN
6307,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6309.0,NaN,NaN
6308,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6310.0,NaN,NaN
6309,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8702,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
# sobre escribimos el df con el filtro quedandonos con aquellos registros que tienen menos de 22 valores nulos
df = df[df.isnull().sum(axis=1) < 22]
df.shape

(6302, 24)

In [26]:
# volvamos a hacer un analisis de los valores nulos por filas 
df.isnull().sum(axis=1).value_counts()

3     1515
2     1423
4     1202
5     1194
6      540
7      293
8      102
9       26
10       7
Name: count, dtype: int64

In [27]:
# repetimos un filtro pero esta vez para aquellos registros con 10 casillas nulas para hacer a "ojimetro" un analisis de nuestros datos y sacar insights
df[df.isnull().sum(axis=1) == 10]

,case_number,date,year,type,country,area,location,activity,name,sex,age,injury,fatal_(y/n),time,species,investigator_or_source,pdf,href_formula,href,case_number.1,case_number.2,original_order,unnamed:_22,unnamed:_23
4976,1932.11.09,08-Nov-1932,1932.0,Sea Disaster,CUBA,NaN,NaN,Hurricane & Tidal Wave,NaN,NaN,NaN,NaN,UNKNOWN,NaN,NaN,"Barrier Miner, 11/14/1932",1932.11.09-Hurricane-Cuba.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1932.11.09,1932.11.09,1327.0,NaN,NaN
5036,1930.09.12.R,1930,1930.0,Boating,AZORES,NaN,NaN,NaN,NaN,NaN,NaN,"No inury to occupants, shark struck boat",N,NaN,NaN,"C. Moore, GSAF",1930.09.12.R-Azores.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1930.09.12.R,1930.09.12.R,1267.0,NaN,NaN
6080,1836.07.26.R,1836.07.26.R,1836.0,Invalid,SPAIN,NaN,NaN,NaN,NaN,NaN,NaN,"Shark caught, contained human remains",NaN,NaN,Shark involvement prior to death unconfirmed,"C. Moore, GSAF",1836.07.26.R-Spain.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1836.07.26.R,1836.07.26.R,223.0,NaN,NaN
6108,1823.12.30.R,Reported 30-Dec-1823,1823.0,Invalid,JAMAICA,NaN,NaN,NaN,male,NaN,NaN,Human remains found in shark,NaN,NaN,Shark involvement prior to death unconfirmed,NaN,1823.12.30.R-Jamaica.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1823.12.30.R,1823.12.30.R,195.0,NaN,NaN
6122,1808.06.01.R,Reported 01-May-1808,1808.0,Sea Disaster,ANTIGUA,NaN,Falmouth Harbour,NaN,NaN,NaN,NaN,Probable drowning & scavenging,NaN,NaN,NaN,"London Observer, 5/1/1808",1808.05.01.R-Antigua.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1808.05.01.R,1808.06.01.R,181.0,NaN,NaN
6130,1802.04.13.R,Reported Apr-13-1802,1802.0,Unprovoked,INDIA,NaN,NaN,NaN,NaN,NaN,NaN,FATAL,Y,NaN,NaN,Evening Post (New York) 4/13/1802,1802.04.13.R-India.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1802.04.13.R,1802.04.13.R,173.0,NaN,NaN
6165,1638.00.00.R,Reported 1638,1638.0,Unprovoked,NaN,NaN,NaN,NaN,sailors,M,NaN,NaN,UNKNOWN,NaN,NaN,Sir Thomas Herbert,1638.00.00.R-Herbert,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1638.00.00.R,1638.00.00.R,138.0,NaN,NaN

Analizando la tabla por columnas 
- Se observa como las columnas `case_number`,`case_number.1` y `case_number.2` contienen informacion similar. Concretamente parecen tener informacion referente a fecha y en algunos casos una letra como identificador del caso. 

    > Accion_case_number:
    - Son fuente de informacion para completar informacion referente a fechas como las columnas `date` o `year`
    - Eliminar dos de ellas tras completar la informacion. 

- Se observa como las columnas `injury` y `fatal_(y/n)` podria llegar a retroalimentarse en cas de datos perdidos. Vease el registro `6130`. Ademas la columna `fatal_(y/n)` aparece con un valor `UNKNOWN`, este valor resulta confuso por lo que deberiamos hacer un analisis esos valores. 
    > Accion_fatal_(y/n):
    - Analizar la columna `injury` para evaluar los valores `UNKNOWN`.
    - La columna `injury` podria llegar a completar `fatal_(y/n)`.

- Analizamos las columnas `href_formula` y `href` mas en profundidad

Comprobamos si la informacion de las columnas coinciden.

In [28]:
df.loc[6165,"href_formula"]

'http://sharkattackfile.net/spreadsheets/pdf_directory/1638.00.00.R-Herbert'

In [29]:
df.loc[6165,"href"]

'http://sharkattackfile.net/spreadsheets/pdf_directory/1638.00.00.R-Herbert'

Parece que para el registro `6165` funciona. Pero vamos a comprobar una funcion para que compruebe si los datos de varias columnas no coinciden para tener mayor perspectiva

In [66]:
df[df["href_formula"] !=  df["href"]].shape

(60, 24)

Llegados a este punto nos vemos obligados a analizarlo como un proyecto independiente para saber los enlaces que nos puedan aportar informacion  [aqui](analisi_href.ipynb). Al final de este analisis se consigue un listado de url operativa.

In [68]:
# cargamos el archivo href
df_href = pd.read_csv("../data/output/href_limpio.csv",encoding = "ISO-8859-1")
df_href.drop(columns="href_response",inplace=True)
df_href

                                                   href
0     http://sharkattackfile.net/spreadsheets/pdf_di...
1     http://sharkattackfile.net/spreadsheets/pdf_di...
2     http://sharkattackfile.net/spreadsheets/pdf_di...
3     http://sharkattackfile.net/spreadsheets/pdf_di...
4     http://sharkattackfile.net/spreadsheets/pdf_di...
...                                                 ...
6102  http://sharkattackfile.net/spreadsheets/pdf_di...
6103  http://sharkattackfile.net/spreadsheets/pdf_di...
6104  http://sharkattackfile.net/spreadsheets/pdf_di...
6105  http://sharkattackfile.net/spreadsheets/pdf_di...
6106  http://sharkattackfile.net/spreadsheets/pdf_di...

[6107 rows x 1 columns]

In [69]:
# dropeamos la columna href_formula y href de df para hacer un merge con df_href
df.drop(columns=["href_formula","href"],inplace=True)
df.head()

,case_number,date,year,type,country,area,location,activity,name,sex,age,injury,fatal_(y/n),time,species,investigator_or_source,pdf,case_number.1,case_number.2,original_order,unnamed:_22,unnamed:_23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,2018.06.04,2018.06.04,6299.0,NaN,NaN

In [71]:
# hacemos un merge con df_href 
df = df.merge(df_href, left_index=True, right_index=True)
df.head()

,case_number,date,year,type,country,area,location,activity,name,sex,age,injury,fatal_(y/n),time,species,investigator_or_source,pdf,case_number.1,case_number.2,original_order,unnamed:_22,unnamed:_23,href
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,2018.06.25,2018.06.25,6303.0,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,2018.06.18,2018.06.18,6302.0,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,2018.06.09,2018.06.09,6301.0,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,2018.06.08,2018.06.08,6300.0,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,2018.06.04,2018.06.04,6299.0,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_di...

#### COLUMNAS

In [72]:
# miramos los valores nulos ordenados de mayor a menor
df.isnull().sum().sort_values(ascending=False)

unnamed:_22               6106
unnamed:_23               6105
time                      3172
species                   2693
age                       2653
sex                        546
fatal_(y/n)                528
activity                   500
location                   484
area                       397
name                       198
country                     38
injury                      20
investigator_or_source      15
type                         4
year                         2
case_number                  1
case_number.1                0
case_number.2                0
original_order               0
pdf                          0
date                         0
href                         0
dtype: int64

In [73]:
# miramos los valores nulos en porcentaje valores ordenados de mayor a menor
df.isnull().sum().sort_values(ascending=False)/df.shape[0]*100

unnamed:_22               99.983625
unnamed:_23               99.967251
time                      51.940396
species                   44.096938
age                       43.441952
sex                        8.940560
fatal_(y/n)                8.645816
activity                   8.187326
location                   7.925332
area                       6.500737
name                       3.242181
country                    0.622237
injury                     0.327493
investigator_or_source     0.245620
type                       0.065499
year                       0.032749
case_number                0.016375
case_number.1              0.000000
case_number.2              0.000000
original_order             0.000000
pdf                        0.000000
date                       0.000000
href                       0.000000
dtype: float64

> Resmunen: analisis de nulos

In [74]:
# generamos un dataframe con una columna con los valores nulos en valores absolutos y otra columna con porcentaje
df_nulls = pd.DataFrame(df.isnull().sum().sort_values(ascending=False), columns=["valores_nulos"])
df_nulls["porcentaje"] = df.isnull().sum().sort_values(ascending=False)/df.shape[0]*100
df_nulls

                        valores_nulos  porcentaje
unnamed:_22                      6106   99.983625
unnamed:_23                      6105   99.967251
time                             3172   51.940396
species                          2693   44.096938
age                              2653   43.441952
sex                               546    8.940560
fatal_(y/n)                       528    8.645816
activity                          500    8.187326
location                          484    7.925332
area                              397    6.500737
name                              198    3.242181
country                            38    0.622237
injury                             20    0.327493
investigator_or_source             15    0.245620
type                                4    0.065499
year                                2    0.032749
case_number                         1    0.016375
case_number.1                       0    0.000000
case_number.2                       0    0.000000
original_order                      0    0.000000
pdf                                 0    0.000000
date                                0    0.000000
href                                0    0.000000

In [75]:
#generamos una funcion a partir de la ultima celda 
def porcentaje_nulos(df):
    """funcion para generar un dataframe con los 
        valores nulos en valores absolutos y otra 
        columna con porcentaje.

    Args:
        df (PandasDataframe): dataframe a analizar.

    Returns:
        PandasDataframe: dataframe con los valores nulos en  valores 
                         absolutos y otra columna con porcentaje.
    """
    df_nulls = pd.DataFrame(df.isnull().sum().sort_values(ascending=False), columns=["valores_nulos"])
    df_nulls["porcentaje"] = df.isnull().sum().sort_values(ascending=False)/df.shape[0]*100
    return df_nulls

In [76]:
porcentaje_nulos(df)

                        valores_nulos  porcentaje
unnamed:_22                      6106   99.983625
unnamed:_23                      6105   99.967251
time                             3172   51.940396
species                          2693   44.096938
age                              2653   43.441952
sex                               546    8.940560
fatal_(y/n)                       528    8.645816
activity                          500    8.187326
location                          484    7.925332
area                              397    6.500737
name                              198    3.242181
country                            38    0.622237
injury                             20    0.327493
investigator_or_source             15    0.245620
type                                4    0.065499
year                                2    0.032749
case_number                         1    0.016375
case_number.1                       0    0.000000
case_number.2                       0    0.000000
original_order                      0    0.000000
pdf                                 0    0.000000
date                                0    0.000000
href                                0    0.000000

### 3.3.2.Tratamiento de nulos

En este ejercicio trataremos las columnas en funcion de la proporcion de nulos y los insights del apartado de Filas

---
Vemos como tenemos muchos nulos en `unnamed:_22` y `unnamed:_23` procedemos a eliminar esas columnas.

In [77]:
# eliminamos las columnas unmnamed:22 y unnamed:23 que no aportan informacion
df.drop(["unnamed:_22","unnamed:_23"], axis=1, inplace=True)

In [78]:
# confirmamos que se han eliminado
df.columns

Index(['case_number', 'date', 'year', 'type', 'country', 'area', 'location',
       'activity', 'name', 'sex', 'age', 'injury', 'fatal_(y/n)', 'time',
       'species', 'investigator_or_source', 'pdf', 'case_number.1',
       'case_number.2', 'original_order', 'href'],
      dtype='object')

---
Tratamiento de la columnas de `time`

In [79]:
df.head(3)

,case_number,date,year,type,country,area,location,activity,name,sex,age,injury,fatal_(y/n),time,species,investigator_or_source,pdf,case_number.1,case_number.2,original_order,href
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,2018.06.25,2018.06.25,6303.0,http://sharkattackfile.net/spreadsheets/pdf_di...
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,2018.06.18,2018.06.18,6302.0,http://sharkattackfile.net/spreadsheets/pdf_di...
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,2018.06.09,2018.06.09,6301.0,http://sharkattackfile.net/spreadsheets/pdf_di...

In [80]:
df['time'].value_counts(dropna=False)

time
NaN            3172
Afternoon       183
11h00           128
Morning         120
12h00           109
               ...
14h37             1
10h07             1
13h53             1
13h23             1
19h00-20h00       1
Name: count, Length: 367, dtype: int64

In [81]:
# miramos los unique de la columna time 
df["time"].unique()

array(['18h00', '14h00  -15h00', '07h45', nan, 'Late afternoon', '17h00',
       '14h00', 'Morning', '15h00', '08h15', '11h00', '10h30', '10h40',
       '16h50', '07h00', '09h30', 'Afternoon', '21h50', '09h40', '08h00',
       '17h35', '15h30', '07h30', '19h00, Dusk', 'Night', '16h00',
       '15h01', '12h00', '13h45', '23h30', '09h00', '14h30', '18h30',
       '12h30', '16h30', '18h45', '06h00', '10h00', '10h44', '13h19',
       'Midday', '13h30', '10h45', '11h20', '11h45', '19h30', '08h30',
       '15h45', 'Shortly before 12h00', '17h34', '17h10', '11h15',
       '08h50', '17h45', '13h00', '10h20', '13h20', '02h00', '09h50',
       '11h30', '17h30', '9h00', '10h43', 'After noon', '15h15', '15h40',
       '19h05', '1300', '14h30 / 15h30', '22h00', '16h20', '14h34',
       '15h25', '14h55', '17h46', 'Morning ', '15h49', '19h00',
       'Midnight', '09h30 / 10h00', '10h15', '18h15', '04h00', '14h50',
       '13h50', '19h20', '10h25', '10h45-11h15', '16h45', '15h52',
       '06h15', '14h40', '19h45', '10h10', '08h45', 'Evening', '12h10',
       '18h05', '11h41', '12h25', '17h51', '16h12', '12h45', '10h50',
       '14h15', '09h45', '06h45', '05h00', '03h30',
       'Sometime between 06h00 & 08hoo', '06h30', '17h20', '20h00',
       '16h40', '16h18', '11h10', 'Early afternoon', '17h50',
       '07h00 - 08h00', '18h15-18h30', '17h01', '09h57', '08h20', '17h58',
       '20h30', '15h19', '10h55', '15h55', '23h00', '12h40', '13h55',
       '16h05', '14h10', '15h20', '12h50', '14h45', '13h40', '13h24',
       '09h00 - 09h30', '0830', '11h40', '08h10', '15h56', '14h20',
       'Just before noon', '07h56', '1600', '17h17', '16h35', '09h05',
       '07h15', '07h20', '19h28', '12h38', '05h50', '15h50', '11h05',
       'Early morning', 'Dawn', '05h45', '13h25', '12h20', '13h26',
       '09h11', '12h15', '13h15', '18h20', '15h35', 'AM', '13h51', 'A.M.',
       '08h05', '19h15', '10h35', '15h44', 'Dusk', '21h00', 'Lunchtime',
       '15j45', '09h35', '10h27', '10h16', '0500', 'Before 07h00',
       '09h20', '10h00 -- 11h00', '12h05', '14h21', '18h50', '15h53',
       '"Just before 11h00"', '11h115', '13h42', '20h15', '12h39',
       '07h05', 'Sunset', '  ', '13h05', '11h50', '"Evening"',
       'Just before sundown', '17h55', '22h30', '17h15', '16h10',
       '11h30 ', '06h10', '16h15', 'Between 05h00 and 08h00', '07h08',
       '17h00 or 17h40', '03h00', '>08h00', '--', '12h02', '12h55',
       '16h14', '17h11', '00h30', '14h37', '10h07', '13h53', '11h55',
       '13h23', 'Just after 12h00', '02h30', '08h40', '11h56', '14h35',
       ' ', 'Early Morning', '07h50', 'Shortly after midnight', '14h25',
       '13h345', '\xa0 ', '06h47', '09h00 -10h00', '20h45 (Sunset)',
       'Late morning', 'P.M.', '18h40', '13h14', '13h06',
       'Shortly before 13h00', '12h34', '11h53', '8:04 pm', '12h46',
       '12h48', '17h42', '12h35', 'Possibly same incident as 2000.08.21',
       'After Dusk', '11h57', 'Noon', '17h40', '11h25', '18h25', '10h28',
       '09h15', '14h16', '09h55', '2 hours after Opperman', '15h05',
       '09h30 ', 'Mid afternoon', 'Mid morning', '11h48', '11h00 / 11h30',
       '07h19', '13h37', '11h06', '"Night"', '18h30?', '11h58', '11h51',
       '18h12', '07h10', '07h40', '12h33',
       '30 minutes after 1992.07.08.a', '>06h45', '15h06', '12h54',
       'Between 06h00 & 07h20', '16h55', '05h40', '<07h30', '21h30',
       '17h00 Sunset', 'Nightfall', 'X', '08h57', '18h30 (Sunset)',
       '06j00', '08h35', '10h22', '02h45', 'Prior to 10h37', 'Daybreak',
       '18h10', '>12h00', 'Mid-morning', '08h55', '16h30 or 18h00',
       'Just before dawn', ' 14h00', 'Daytime', '06h50', '01h00', 'Dark',
       '10h00 / 11h00', '"After lunch"', '07h32', '15h00 or 15h45',
       '>17h00', '19h00 / 20h00', '12h45 / 13h45', '14h00 - 15h00',
       'night', '03h45 - 04h00', '13h10', '09h30 / 15h30',
       '08h00 / 09h30', '19h35', '12h00 to 14h00', '13h35', 'Late night',
       '01h32', '10h30 or 13h30', '16h23', '15h00j', 'Midday.',
       '"After dark"', '10h00 or 14h00', '19h10', '16h25',
       '2 hrs before sunset', '18h15 to 21h30', '1500',
       '"shortly before dusk"', '>17h30', '>14h30',
       'Between 11h00 & 12h00', 'After 04h00',
       '11h01 -time of ship sinking', 'Ship aban-doned at 03h10', '19h55',
       'After dusk',
       'FATAL  (Wire netting installed at local beaches after this incident.)',
       '01h30', 'After midnight', 'Late afternon', '05h30', '08h58',
       '"Early evening"', 'Late Afternoon', '   ', 'Before daybreak',
       'dusk', 'Before 10h30', '06h00 -- 07h00', '01h50', '17h00-18h00',
       '19h00-20h00'], dtype=object)

In [82]:
# alamacenamos los valores que contengan un numero en lista_num y el resto en data_qa
lista_num = []
data_qa = []
for x in df["time"]:
    if re.search("\d",str(x)):
        lista_num.append(x)
    else:
        data_qa.append(x)

In [83]:
# miramos los valores que contienen un numero
print(lista_num)

['18h00', '14h00  -15h00', '07h45', '17h00', '14h00', '15h00', '08h15', '11h00', '10h30', '10h40', '16h50', '07h00', '09h30', '21h50', '09h40', '08h00', '09h30', '17h00', '18h00', '15h00', '09h30', '17h35', '15h30', '07h30', '19h00, Dusk', '16h00', '18h00', '08h00', '15h30', '15h01', '18h00', '12h00', '13h45', '16h00', '23h30', '09h00', '15h00', '17h00', '08h00', '09h00', '14h30', '18h30', '12h30', '18h00', '15h30', '14h00', '16h30', '18h45', '15h00', '06h00', '10h00', '10h44', '10h30', '13h19', '10h00', '15h00', '13h30', '23h30', '10h45', '18h30', '15h00', '17h00', '12h30', '11h20', '07h45', '18h30', '11h45', '11h00', '15h30', '15h00', '19h30', '10h00', '12h00', '08h30', '15h45', '10h00', 'Shortly before 12h00', '17h00', '14h30', '17h34', '17h10', '11h00', '11h15', '14h00', '16h00', '08h50', '16h00', '09h00', '13h30', '13h45', '16h00', '17h45', '17h00', '13h00', '15h00', '10h00', '18h30', '14h30', '09h30', '10h20', '13h30', '13h20', '14h00', '12h00', '13h30', '07h30', '12h30', '18h00', '17h00', '07h00', '09h30', '02h00', '09h00', '11h00', '10h30', '07h30', '17h00', '18h00', '09h50', '10h30', '16h00', '11h30', '17h30', '9h00', '13h00', '11h00', '10h43', '15h15', '14h30', '15h40', '15h00', '14h00', '17h00', '16h00', '16h30', '11h30', '12h00', '19h05', '1300', '11h00', '17h00', '10h00', '14h30 / 15h30', '22h00', '16h20', '14h34', '11h00', '15h25', '14h55', '06h00', '17h30', '15h00', '11h30', '08h30', '11h30', '16h00', '16h00', '15h45', '12h00', '18h00', '17h46', '13h20', '15h49', '07h00', '17h30', '08h00', '12h00', '10h45', '11h00', '19h00', '11h00', '13h30', '19h00', '16h00', '15h00', '12h30', '13h20', '14h00', '11h30', '09h30 / 10h00', '11h30', '07h00', '10h30', '10h15', '11h00', '18h15', '11h00', '11h00', '14h00', '04h00', '14h50', '15h00', '14h30', '13h50', '19h20', '11h30', '11h00', '16h20', '10h25', '16h50', '13h00', '10h00', '08h30', '16h20', '10h45-11h15', '16h45', '15h52', '12h30', '07h30', '19h00', '15h00', '06h15', '17h30', '14h40', '11h30', '16h00', '08h30', '10h25', '10h00', '19h45', '17h10', '12h30', '15h30', '07h30', '11h00', '08h00', '06h00', '19h00', '10h10', '10h00', '08h45', '09h00', '09h00', '12h10', '18h05', '16h00', '14h40', '19h30', '16h00', '11h00', '11h41', '12h25', '09h30', '13h00', '17h51', '16h12', '12h45', '10h50', '15h00', '15h00', '13h45', '08h00', '10h30', '14h15', '15h00', '15h00', '13h00', '09h00', '16h30', '09h45', '11h00', '09h00', '07h30', '11h00', '11h45', '10h00', '10h20', '18h30', '10h00', '06h45', '05h00', '03h30', '13h45', '16h00', '08h00', '11h30', '11h30', '07h00', 'Sometime between 06h00 & 08hoo', '13h00', '13h30', '06h30', '16h30', '11h00', '18h00', '10h00', '08h00', '11h15', '06h30', '15h30', '17h20', '11h30', '11h00', '14h00', '11h30', '17h30', '11h00', '11h30', '18h45', '10h45', '13h00', '18h00', '20h00', '16h40', '16h18', '15h00', '11h10', '13h30', '14h00', '13h00', '14h00', '15h00', '17h50', '14h30', '14h00', '09h30', '07h00 - 08h00', '18h15-18h30', '13h00', '17h01', '17h00', '17h00', '09h45', '13h30', '11h30', '09h30', '11h00', '15h00', '15h00', '15h30', '09h57', '13h50', '13h30', '08h20', '13h30', '15h00', '17h58', '17h00', '18h00', '16h00', '12h00', '20h30', '11h00', '08h45', '08h00', '14h30', '18h15', '09h00', '14h00', '13h00', '09h00', '10h30', '15h00', '11h00', '15h19', '16h30', '10h55', '18h15', '15h55', '11h00', '11h30', '10h30', '08h45', '15h30', '10h00', '11h30', '10h30', '13h00', '15h30', '13h00', '16h00', '16h00', '13h00', '12h00', '23h00', '20h30', '17h00', '15h00', '13h00', '12h40', '16h30', '13h55', '17h30', '15h00', '08h45', '16h05', '11h00', '14h10', '16h45', '11h15', '13h20', '14h30', '14h15', '15h20', '15h30', '12h45', '12h50', '14h45', '16h00', '12h00', '08h20', '11h15', '13h40', '14h00', '10h30', '13h30', '12h00', '08h30', '09h00', '09h00', '09h00', '13h24', '18h00', '18h00', '14h00', '09h00 - 09h30', '16h30', '10h00', '14h00', '12h45', '10h45', '0830', '13h20', '16h45', '09h40', '14h50', '11h40', '17h30', '08h30', '08h10', '12h00', '15h56', '11h00', '10h30', '07h30', '17h00', '18h30', '12h00', '16h30', '15h00', '14h20', '12h00', '11h30', '07h56', '18h30', '12h00', '16h30', '15h30', '12h00', '1600', '17h17', '06h45', '14h40', '16h35', '15h30', '11h45', '16h30', '09h05', '17h30', '15h00', '08h30', '16h30', '19h00', '15h00', '09h45', '16h30', '07h15', '11h00', '14h20', '13h20', '14h30', '19h45', '13h30', '09h00', '15h00', '14h30', '11h30', '07h20', '19h28', '12h30', '12h38', '09h30', '14h00', '05h50', '17h00', '15h50', '16h00', '16h05', '19h00', '11h30', '14h30', '13h00', '14h00', '16h00', '12h00', '11h05', '16h45', '15h40', '20h00', '09h00', '18h00', '18h00', '12h30', '05h45', '09h00', '06h00', '13h30', '13h25', '16h00', '08h10', '10h30', '09h50', '12h25', '15h00', '10h00', '15h00', '15h30', '11h00', '12h20', '13h00', '13h26', '11h00', '11h00', '19h30', '19h00', '15h30', '09h11', '17h00', '16h00', '15h30', '16h30', '14h00', '15h30', '10h00', '17h30', '17h00', '20h30', '12h30', '17h00', '14h50', '10h30', '13h30', '10h00', '12h00', '13h30', '12h15', '17h30', '14h30', '12h00', '15h00', '13h15', '12h00', '15h30', '11h00', '06h30', '15h00', '15h30', '17h45', '16h00', '13h00', '10h45', '18h30', '18h20', '10h40', '12h00', '15h00', '17h00', '12h30', '12h00', '15h35', '13h51', '12h00', '11h00', '10h55', '14h55', '14h40', '13h30', '12h30', '15h20', '08h50', '13h30', '15h00', '14h30', '16h00', '16h30', '17h00', '12h00', '12h00', '09h00', '09h00', '08h05', '19h00', '08h00', '15h00', '19h15', '12h40', '11h00', '16h30', '10h35', '13h30', '19h15', '12h30', '15h15', '13h00', '17h00', '12h30', '12h00', '08h45', '18h00', '18h00', '16h30', '09h30', '10h30', '16h00', '10h00', '14h00', '11h00', '11h00', '09h30', '13h30', '08h00', '15h30', '15h00', '11h00', '15h44', '18h30', '16h30', '07h30', '15h15', '17h00', '06h45', '10h15', '08h30', '11h00', '16h30', '11h00', '07h30', '14h30', '07h00', '07h30', '13h00', '15h30', '16h45', '09h30', '16h30', '10h30', '07h00', '17h30', '06h00', '18h30', '14h45', '11h00', '12h50', '17h30', '21h00', '18h30', '15h30', '16h30', '19h00', '08h45', '10h00', '06h15', '17h30', '10h15', '15h00', '15h00', '08h30', '11h15', '16h00', '15j45', '08h45', '17h30', '20h30', '20h30', '09h35', '10h27', '10h16', '16h45', '10h00', '0500', '16h00', '13h15', '08h00', '07h45', '16h00', '18h45', '07h45', '17h30', '20h00', '11h30', '13h30', '06h45', '10h15', '17h00', '19h30', 'Before 07h00', '11h00', '07h30', '10h30', '19h00', '16h30', '14h00', '09h20', '10h45', '15h45', '09h00', '17h30', '09h30', '11h00', '07h00', '15h00', '20h00', '10h00 -- 11h00', '17h20', '11h00', '15h30', '12h00', '12h00', '11h45', '11h00', '14h30', '12h00', '16h30', '10h30', '12h00', '12h00', '12h00', '10h00', '19h20', '12h00', '11h00', '15h00', '18h00', '14h45', '12h05', '14h00', '10h30', '18h00', '15h30', '09h00', '08h45', '13h00', '14h30', '13h55', '14h00', '19h30', '14h21', '11h00', '14h00', '11h15', '09h00', '11h10', '18h30', '15h00', '15h50', '07h30', '14h00', '11h45', '10h30', '09h50', '07h00', '08h45', '11h00', '15h00', '08h05', '12h00', '18h50', '11h30', '15h53', '08h00', '10h00', '17h00', '07h30', '14h00', '11h00', '20h30', '"Just before 11h00"', '14h20', '17h30', '11h115', '09h00', '08h45', '15h30', '11h30', '12h00', '20h30', '08h10', '11h30', '14h40', '12h00', '08h15', '07h00', '18h20', '11h15', '16h00', '11h45', '13h42', '18h30', '09h45', '16h30', '10h45', '14h00', '19h45', '20h15', '12h39', '10h00', '17h35', '18h00', '16h40', '14h00', '23h00', '10h15', '15h15', '11h00', '12h30', '11h00', '13h00', '11h00', '16h00', '14h30', '10h00', '17h30', '07h05', '16h30', '11h00', '17h00', '14h30', '17h45', '16h00', '12h15', '08h30', '08h30', '18h00', '12h30', '17h00', '16h00', '13h05', '14h20', '13h20', '10h00', '15h30', '13h00', '08h00', '14h00', '03h30', '10h30', '06h30', '14h00', '10h15', '20h00', '11h00', '11h50', '07h30', '14h20', '12h30', '11h30', '12h00', '14h00', '11h00', '13h00', '17h30', '17h55', '16h00', '18h00', '11h00', '11h00', '12h00', '16h00', '16h30', '13h45', '10h00', '13h30', '17h00', '13h00', '11h00', '13h00', '11h10', '13h00', '13h00', '09h00', '11h10', '15h30', '13h45', '11h30', '13h30', '16h00', '16h30', '11h30', '15h30', '12h15', '16h30', '16h30', '15h00', '13h30', '17h30', '12h30', '11h30', '18h00', '17h00', '16h30', '11h00', '12h00', '18h00', '14h00', '22h30', '11h00', '17h15', '16h45', '12h00', '11h45', '13h30', '11h00', '15h30', '13h00', '18h00', '11h30', '20h30', '14h30', '14h00', '13h00', '16h45', '07h15', '08h00', '11h00', '10h30', '17h55', '18h00', '15h00', '16h05', '15h00', '12h05', '07h30', '16h30', '14h00', '15h20', '15h00', '11h10', '16h10', '11h00', '20h00', '11h30', '09h45', '18h00', '11h30', '11h15', '16h40', '13h00', '11h30', '11h30', '11h15', '07h00', '08h00', '11h30 ', '11h00', '15h45', '17h30', '18h30', '11h00', '11h00', '10h30', '23h00', '06h10', '19h00', '09h45', '17h30', '14h00', '15h30', '14h00', '14h30', '14h00', '12h00', '15h15', '13h00', '18h00', '07h00', '13h30', '09h00', '14h00', '09h30', '12h40', '16h15', '15h30', '14h00', '12h00', '09h00', 'Between 05h00 and 08h00', '15h40', '17h30', '13h00', '17h30', '16h00', '20h30', '14h00', '13h00', '17h30', '17h00', '16h30', '19h30', '14h10', '16h40', '09h00', '18h00', '15h00', '19h45', '14h30', '11h00', '12h30', '16h00', '15h00', '16h30', '07h08', '14h00', '09h00', '07h30', '15h00', '17h00 or 17h40', '08h30', '10h00', '12h30', '07h45', '15h00', '19h00', '11h00', '11h05', '14h30', '11h00', '03h00', '13h15', '09h30', '11h30', '11h30', '>08h00', '15h30', '15h00', '17h30', '07h30', '12h20', '12h20', '15h00', '14h30', '14h00', '12h02', '12h55', '07h45', '11h45', '16h30', '14h00', '16h14', '09h40', '13h30', '17h11', '14h30', '12h20', '08h15', '00h30', '08h00', '15h45', '14h37', '14h30', '10h07', '14h45', '13h53', '08h00', '11h55', '10h00', '13h23', '11h45', '11h40', '12h20', '18h30', '17h00', '14h30', '13h30', '09h00', '14h20', '13h20', '08h50', '13h00', '08h00', '11h45', '12h10', '13h00', 'Just after 12h00', '02h30', '09h45', '10h45', '08h40', '13h40', '13h25', '11h56', '16h00', '12h00', '13h30', '14h35', '16h20', '07h30', '15h35', '15h00', '15h00', '07h50', '16h00', '15h55', '17h45', '15h45', '17h00', '14h45', '15h30', '12h30', '11h00', '19h00', '17h00', '18h45', '15h00', '17h15', '10h00', '14h25', '13h345', '13h00', '10h40', '13h00', '14h15', '16h15', '17h15', '06h47', '17h00', '12h40', '10h30', '11h10', '18h30', '10h45', '15h00', '11h30', '12h00', '10h10', '17h00', '15h45', '10h55', '09h00 -10h00', '20h00', '19h15', '20h45 (Sunset)', '02h00', '13h00', '17h00', '13h00', '16h20', '15h00', '13h20', '15h00', '13h45', '18h40', '18h00', '18h00', '18h00', '13h30', '13h30', '16h20', '16h00', '14h00', '16h20', '16h00', '13h14', '13h06', '11h20', '12h30', '12h05', '10h00', '16h00', '10h20', '16h00', '14h30', '14h30', '18h30', '09h00', 'Shortly before 13h00', '19h00', '17h45', '19h00', '15h49', '11h00', '10h55', '16h00', '16h45', '16h05', '12h34', '11h53', '8:04 pm', '12h46', '07h00', '09h30', '14h45', '10h00', '14h40', '16h15', '14h30', '09h30', '12h00', '06h30', '06h30', '16h30', '22h00', '18h00', '11h20', '15h30', '14h30', '12h48', '16h30', '09h00', '13h00', '07h30', '17h00', '18h00', '12h00', '13h20', '17h42', '11h00', '11h45', '18h05', '12h35', '16h00', '11h50', '16h30', '16h45', 'Possibly same incident as 2000.08.21', '15h45', '18h00', '16h30', '18h00', '12h00', '17h00', '14h45', '07h50', '14h30', '16h00', '06h45', '06h45', '14h55', '11h57', '14h30', '14h00', '11h15', '14h00', '19h30', '16h00', '14h00', '09h30', '12h30', '15h30', '17h20', '10h30', '17h30', '15h00', '18h30', '18h45', '18h30', '19h00', '14h30', '18h40', '17h40', '11h25', '17h00', '14h00', '18h25', '10h28', '11h15', '09h15', '13h15', '16h00', '14h30', '06h00', '10h30', '20h30', '10h45', '15h30', '12h00', '08h30', '15h30', '17h00', '14h00', '08h45', '17h00', '14h30', '15h35', '20h15', '14h16', '16h30', '13h00', '17h30', '14h00', '09h55', '18h00', '2 hours after Opperman', '11h10', '14h30', '15h00', '14h45', '15h05', '09h30 ', '15h30', '17h30', '09h35', '20h00', '13h15', '14h00', '07h20', '17h15', '18h00', '08h30', '17h15', '15h20', '13h00', '11h20', '12h30', '14h16', '11h48', '17h15', '15h45', '09h15', '14h25', '12h45', '23h00', '14h30', '18h00', '10h25', '11h00', '11h00', '11h00 / 11h30', '18h00', '18h00', '16h15', '08h30', '17h00', '13h00', '08h30', '07h19', '13h37', '10h00', '12h15', '18h05', '13h25', '07h19', '16h00', '11h15', '14h00', '19h30', '18h00', '13h30', '13h45', '14h00', '17h30', '14h45', '13h40', '11h00', '11h06', '07h00', '15h45', '10h00', '16h00', '14h30', '11h30', '17h30', '15h40', '15h00', '16h00', '18h30', '14h10', '19h00', '15h00', '08h30', '13h30', '14h10', '16h30', '14h45', '14h10', '13h40', '17h00', '17h30', '18h30?', '14h00', '11h50', '14h30', '10h35', '13h20', '10h15', '07h30', '17h15', '18h00', '16h00', '14h45', '08h45', '09h45', '16h00', '13h00', '12h00', '16h30', '11h15', '13h45', '13h26', '13h25', '15h00', '15h30', '10h30', '08h00', '08h30', '10h30', '15h00', '11h58', '11h51', '11h00', '13h00', '17h00', '16h30', '13h30', '07h30', '16h15', '15h15', '10h55', '16h30', '10h00', '14h30', '11h30', '08h00', '17h15', '07h05', '11h30', '10h00', '14h00', '15h00', '18h12', '07h15', '19h30', '07h10', '09h30', '10h55', '16h00', '15h45', '14h30', '03h00', '13h45', '09h00', '16h30', '17h30', '15h30', '07h30', '13h00', '12h50', '14h00', '14h15', '09h45', '11h00', '07h40', '14h30', '17h00', '15h00', '17h50', '15h00', '17h00', '12h33', '30 minutes after 1992.07.08.a', '14h30', '12h30', '14h00', '15h30', '13h20', '>06h45', '15h20', '10h15', '09h45', '10h00', '19h30', '16h30', '20h00', '17h30', '17h15', '15h06', '09h00', '09h00', '16h30', '12h54', '08h30', '07h30', '17h00', '15h00', '13h30', '16h35', '15h30', '18h45', '17h30', '09h30', '17h30', '11h30', 'Between 06h00 & 07h20', '16h45', '13h00', '09h55', '11h00', '17h30', '09h30', '12h30', '08h10', '15h00', '09h30', '16h55', '15h30', '20h30', '10h30', '16h00', '15h00', '12h30', '13h20', '13h00', '17h00', '16h50', '13h30', '15h45', '14h30', '12h00', '14h00', '05h40', '<07h30', '17h45', '21h30', '12h05', '18h00', '14h20', '16h30', '14h30', '12h30', '10h45', '06h30', '10h35', '17h00 Sunset', '15h30', '16h15', '15h30', '10h45', '10h35', '20h15', '13h30', '10h25', '10h15', '10h15', '18h00', '17h15', '17h30', '18h30', '15h45', '15h00', '09h30', '10h30', '09h45', '16h00', '12h00', '08h57', '18h30', '11h45', '17h30', '18h45', '16h45', '18h30 (Sunset)', '17h00', '07h40', '06h30', '11h15', '13h00', '17h00', '16h00', '12h15', '11h00', '11h30', '07h30', '09h15', '18h30', '14h30', '13h30', '18h00', '12h00', '12h00', '07h00', '14h00', '17h00', '14h00', '10h00', '10h30', '10h40', '18h00', '11h00', '11h30', '17h15', '10h55', '16h15', '12h00', '18h00', '18h30', '13h30', '06j00', '08h35', '13h00', '08h00', '16h00', '15h00', '13h00', '10h30', '17h00', '10h22', '16h00', '12h30', '12h45', '18h30', '18h30', '11h30', '11h00', '12h33', '14h00', '13h30', '12h05', '15h00', '15h30', '10h00', '14h00', '15h30', '08h30', '17h50', '14h30', '12h00', '11h00', '18h00', '17h30', '17h00', '13h30', '17h30', '09h00', '09h30', '02h45', '15h30', '12h30', '08h15', '10h00', '10h00', '04h00', '12h00', '11h00', '16h00', '16h30', '11h00', '17h00', '14h00', '19h30', '11h00', '11h15', '12h30', '12h30', '18h15', '13h00', '11h00', '16h00', '14h50', '13h30', '14h30', '10h20', '12h00', '16h00', '16h00', '11h00', '14h30', '09h30', '16h30', '11h00', '14h00', '12h00', 'Prior to 10h37', '11h00', '16h30', '11h30', '09h45', '18h00', '12h00', '12h00', '10h15', '18h10', '12h30', '08h30', '14h45', '09h00', '15h00', '17h30', '10h30', '17h20', '13h30', '07h00', '17h15', '15h00', '15h45', '09h30', '15h00', '08h00', '14h45', '05h00', '18h30', '11h00', '16h20', '10h20', '14h00', '>12h00', '13h20', '10h30', '11h30', '10h00', '13h15', '16h45', '16h00', '11h00', '12h45', '03h00', '12h45', '10h00', '16h00', '16h00', '13h30', '11h45', '17h00', '14h30', '09h00', '16h05', '10h55', '14h30', '11h00', '14h00', '14h00', '10h30', '14h30', '07h30', '13h00', '12h00', '10h00', '11h30', '13h30', '12h00', '13h30', '14h30', '13h30', '16h30', '14h30', '10h00', '10h55', '18h00', '07h30', '13h45', '17h00', '17h30', '17h30', '15h00', '08h55', '11h30', '15h30', '16h30', '16h30 or 18h00', '19h00', '19h00', '14h10', '11h20', '12h00', '14h30', '16h45', '18h00', '08h00', '14h00', '15h00', '09h00', '10h00', '11h30', '13h30', '17h00', '11h00', '20h00', '16h20', '14h45', ' 14h00', '10h30', '13h15', '15h35', '11h30', '11h00', '10h20', '16h30', '15h00', '23h00', '10h00', '11h30', '16h00', '14h00', '14h00', '16h00', '12h00', '11h20', '16h30', '16h00', '13h00', '1600', '20h00', '19h00', '11h00', '16h00', '17h30', '07h30', '17h45', '15h00', '22h00', '12h48', '10h15', '16h00', '17h00', '08h00', '10h30', '11h00', '13h30', '09h30', '14h00', '12h30', '13h30', '18h30', '17h30', '13h00', '17h00', '14h00', '09h00', '16h30', '14h30', '14h30', '14h30', '11h00', '16h00', '14h30', '04h00', '13h40', '16h30', '17h30', '06h50', '15h00', '19h45', '14h00', '09h00', '16h45', '12h00', '17h00', '17h30', '17h00', '15h00', '18h40', '15h00', '07h00', '16h00', '09h00', '17h00', '01h00', '14h00', '16h30', '14h00', '10h00 / 11h00', '09h00', '14h00', '15h30', '16h00', '14h00', '10h30', '23h30', '07h32', '16h30', '14h00', '18h00', '17h30', '17h00', '14h00', '12h00', '15h00', '16h00', '11h00', '15h30', '07h15', '11h30', '13h30', '15h00 or 15h45', '14h30', '13h00', '16h40', '17h00', '10h30', '14h30', '13h30', '18h00', '09h30', '11h00', '14h00', '13h30', '14h30', '14h00', '11h30', '11h30', '12h00', '11h00', '>17h00', '11h30', '16h00', '10h30', '12h00', '18h30', '08h45', '06h45', '09h30', '12h00', '16h00', '11h00', '11h00', '12h00', '15h00', '19h00 / 20h00', '07h30', '14h00', '15h00', '15h45', '18h30', '12h00', '12h40', '12h45', '13h00', '14h00', '11h00', '14h00', '11h40', '03h00', '17h30', '11h00', '13h00', '09h30', '13h30', '08h00', '16h30', '13h50', '12h45', '14h00', '11h00', '10h00', '13h30', '16h30', '12h15', '16h00', '10h30', '14h30', '12h45 / 13h45', '06h00', '15h00', '08h30', '14h30', '15h00', '10h20', '08h30', '12h00', '15h30', '14h00 - 15h00', '17h00', '16h30', '17h00', '14h10', '21h00', '11h50', '16h00', '07h00', '13h30', '12h00', '03h45 - 04h00', '10h30', '11h30', '09h00', '16h20', '14h30', '16h00', '13h10', '12h00', '10h30', '13h30', '12h00', '18h00', '13h00', '16h15', '16h15', '16h50', '07h00', '16h00', '06h15', '14h00', '16h30', '07h00', '06h00', '10h30', '09h30 / 15h30', '08h00', '11h00', '17h30', '14h30', '14h00', '09h30', '08h00 / 09h30', '11h30', '15h00', '12h00', '10h00', '11h00', '14h30', '15h30', '11h00', '18h00', '14h50', '14h20', '19h35', '16h00', '15h30', '16h30', '09h00', '14h45', '15h00', '14h00', '12h00 to 14h00', '12h00', '12h00', '17h15', '13h35', '16h00', '20h00', '12h00', '14h00', '11h00', '15h45', '08h30', '15h00', '13h00', '15h35', '14h00', '09h00 - 09h30', '12h00', '12h00', '12h00', '08h00', '02h00', '15h30', '09h00', '11h00', '06h00', '12h15', '14h00', '14h45', '07h30', '11h00', '01h32', '10h30 or 13h30', '15h15', '12h00', '17h00', '15h30', '04h00', '14h30', '18h00', '16h00', '19h30', '13h00', '17h10', '17h30', '10h00', '14h30', '17h00', '14h45', '16h30', '09h30', '16h15', '08h00', '13h00', '11h00', '15h15', '14h00', '07h15', '18h00', '16h10', '16h10', '10h45', '10h25', '14h30', '12h00', '17h30', '17h10', '17h00', '11h10', '13h30', '16h30', '07h30', '12h40', '10h30', '16h23', '16h00', '17h00', '17h30', '17h30', '15h15', '12h00', '13h30', '11h00', '14h00', '15h30', '13h00', '12h00', '18h15', '16h30', '10h30', '18h00', '15h00j', '16h45', '11h00', '18h00', '09h00', '13h00', '18h00', '11h55', '12h00', '14h35', '14h30', '15h00', '11h00', '13h20', '11h00', '15h00', '21h00', '16h30', '17h15', '13h05', '12h00', '17h30', '09h15', '08h00', '18h00', '14h00', '02h00', '11h00', '10h00 or 14h00', '16h00', '13h00', '17h15', '19h10', '11h00', '15h00', '12h00', '12h15', '16h25', '16h15', '17h15', '12h00', '08h30', '2 hrs before sunset', '18h15 to 21h30', '09h00', '10h30', '18h50', '14h30', '1500', '13h00', '13h20', '13h20', '16h00', '15h00', '13h30', '15h00', '11h30', '16h00', '11h00', '16

In [84]:
# miramos los valores unicos de la lista_num
print(set(lista_num))

{'10h40', '08h10', '12h10', '12h35', '09h57', '10h44', '11h06', '15h50', '14h16', '17h00 Sunset', '10h43', '17h58', '12h02', '17h00', '18h30', '13h51', '18h30?', '10h10', '2 hours after Opperman', '18h25', '19h00, Dusk', '12h40', '07h45', '18h30 (Sunset)', '18h10', '11h57', '22h30', '07h15', '13h53', '08h50', '05h45', '06h00 -- 07h00', '14h37', '12h45 / 13h45', '01h00', '08h40', '15h45', '18h50', '08h00', 'Before 10h30', '14h10', '12h39', 'Just after 12h00', '18h40', '14h15', '16h30 or 18h00', '17h35', '16h20', '11h15', '12h05', '11h55', '02h45', '10h30', '07h56', 'Between 11h00 & 12h00', '15h35', 'Possibly same incident as 2000.08.21', '18h05', '10h45-11h15', 'Ship aban-doned at 03h10', '03h30', '23h30', '19h45', '06h30', '15h20', '07h00 - 08h00', '11h25', '10h35', '10h16', '12h25', '1600', '20h00', '11h51', '11h48', '12h55', '16h14', '17h30', '09h15', '>14h30', '13h19', '10h00', '11h45', '01h30', '15h05', '17h00-18h00', '09h30', '13h37', '08h15', '17h11', '14h40', '22h00', '10h27', '11h115', '15h01', '"Just before 11h00"', '15h30', '15h06', '13h25', '15h56', '12h34', '20h30', '12h48', '11h20', '12h45', '21h50', '06h15', '03h00', '13h26', '19h00-20h00', '10h30 or 13h30', '08h58', '18h15-18h30', '14h45', '13h06', '14h25', '09h00', '02h30', ' 14h00', 'Between 06h00 & 07h20', '16h05', '11h30', '10h28', '07h40', 'Sometime between 06h00 & 08hoo', '10h00 -- 11h00', '08h57', '09h00 -10h00', '16h18', '16h23', '1500', '07h30', '<07h30', '09h35', '13h24', '13h55', '01h32', '08h00 / 09h30', '16h30', '14h00 - 15h00', '11h30 ', 'After 04h00', '13h10', '12h46', '10h55', '10h00 / 11h00', '15h19', '>12h00', '11h50', '08h35', '08h20', '10h07', '12h33', '15h55', '30 minutes after 1992.07.08.a', '18h15', '19h55', '07h50', '14h30', '17h42', '15h25', '11h53', '15h00', '18h20', '>17h00', '10h15', '11h58', 'Shortly before 13h00', '16h12', '15h00j', '17h17', '13h40', '17h55', '14h34', '12h00 to 14h00', '06h45', '08h05', '07h10', '17h20', '13h23', '21h00', '09h30 / 15h30', '10h20', '18h45', '17h40', '14h30 / 15h30', '10h00 or 14h00', '13h50', '13h35', '14h55', '09h20', '18h12', '11h10', '13h45', '13h05', '15h53', '16h00', '11h01 -time of ship sinking', '17h45', '16h35', '07h32', '17h50', '08h30', '17h46', '15h52', '>17h30', '19h15', '19h30', '10h22', '13h15', '08h55', '15h49', '15j45', '13h345', '19h35', '15h40', '12h15', '16h10', '12h30', '12h50', '17h01', '07h00', '00h30', '13h30', '17h34', '19h00', '09h30 / 10h00', '10h45', '05h40', '17h51', 'Shortly before 12h00', '11h05', '07h08', '07h20', '04h00', '06h50', '14h21', '21h30', '11h00 / 11h30', '11h41', '20h45 (Sunset)', '17h00 or 17h40', '13h14', '07h05', '09h00 - 09h30', '16h45', '06j00', '0500', '13h00', '0830', '9h00', '8:04 pm', '13h20', '17h15', '19h20', '23h00', '>08h00', '15h44', '>06h45', '12h54', '12h00', '18h00', '13h42', '15h15', '19h10', '16h55', '12h20', '06h00', '08h45', '09h50', '16h40', '14h00  -15h00', '11h40', '19h00 / 20h00', '07h19', '18h15 to 21h30', '09h11', '14h00', '10h25', 'Prior to 10h37', '06h10', '03h45 - 04h00', '09h55', '2 hrs before sunset', '06h47', '05h00', '11h56', '19h28', '19h05', 'Between 05h00 and 08h00', '12h38', '16h25', '16h15', '09h40', '09h30 ', '09h45', '15h00 or 15h45', '05h30', '11h00', '01h50', '14h35', '16h50', '17h10', '1300', '14h20', 'Before 07h00', '14h50', '10h50', '09h05', '20h15', '05h50', '02h00'}

In [85]:
x = '17h11'
pattern="^\d{2}|[A-Z][a-z]*" # este patron de regex las horas. d{2} dos digitos, | significa o, [A-Z] una letra mayuscula, [a-z]* cero o mas letras minusculas
res = re.findall(pattern, x)
res

['17']

In [86]:
"".join(res)

'17'

In [87]:
# miramos los valores que no contienen un numero
print(data_qa)

[nan, nan, nan, 'Late afternoon', nan, 'Morning', nan, nan, nan, 'Afternoon', nan, nan, nan, nan, nan, nan, 'Night', nan, nan, nan, nan, 'Late afternoon', nan, nan, nan, nan, nan, nan, 'Late afternoon', nan, nan, 'Afternoon', 'Afternoon', nan, 'Morning', 'Morning', nan, 'Afternoon', 'Night', nan, nan, 'Morning', nan, nan, 'Midday', nan, nan, 'Afternoon', nan, nan, nan, 'Afternoon', nan, nan, nan, nan, 'Morning', nan, nan, nan, nan, nan, nan, 'Morning', nan, 'Morning', nan, nan, 'Afternoon', nan, nan, 'Afternoon', nan, nan, 'Morning', 'Morning', 'Afternoon', nan, nan, nan, 'Morning', nan, 'Morning', nan, 'Afternoon', 'Afternoon', 'Afternoon', nan, 'After noon', nan, nan, nan, 'Late afternoon', 'Late afternoon', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'After noon', nan, nan, nan, nan, nan, nan, nan, nan, 'Morning', nan, 'Afternoon', 'Morning ', 'Afternoon', 'Morning', 'Morning', nan, nan, nan, nan, nan, nan, 'Morning', 'Afternoon', 'Afternoon', 'Midnight', nan, nan, 'Late afternoon', nan, nan, nan, 'Morning', nan, 'Afternoon', 'Morning', nan, 'Morning', nan, nan, nan, 'Morning', 'Afternoon', nan, nan, nan, nan, 'Afternoon', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'Evening', nan, nan, nan, 'Morning', nan, nan, nan, nan, nan, 'Afternoon', nan, nan, nan, 'Morning', nan, nan, nan, nan, 'Afternoon', nan, nan, nan, 'Night', 'Afternoon', 'Morning', 'Morning', nan, 'Morning', 'Morning', nan, nan, nan, nan, nan, nan, 'Afternoon', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'Afternoon', nan, nan, nan, nan, 'Early afternoon', nan, 'Night', nan, nan, nan, nan, 'Afternoon', 'Afternoon', 'Morning', nan, nan, 'Morning', nan, nan, nan, nan, nan, nan, 'Morning', nan, nan, 'Morning', nan, nan, 'Night', nan, nan, nan, nan, nan, nan, nan, 'Afternoon', nan, 'Afternoon', 'Late afternoon', 'Morning', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'Morning', nan, 'Afternoon', nan, nan, 'Afternoon', nan, 'Evening', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'Afternoon', nan, 'Afternoon', 'Just before noon', nan, 'Afternoon', nan, nan, nan, nan, nan, nan, nan, nan, 'Afternoon', 'Afternoon', 'Afternoon', 'Morning', 'Morning', nan, 'Morning', nan, nan, nan, nan, nan, nan, 'Afternoon', nan, nan, nan, 'Early morning', nan, 'Dawn', nan, nan, nan, 'Afternoon', nan, nan, nan, 'Morning', nan, nan, nan, nan, nan, nan, 'Afternoon', nan, nan, nan, 'Afternoon', 'Morning', nan, nan, 'Evening', 'Night', nan, nan, nan, 'Night', nan, 'Afternoon', 'Afternoon', nan, nan, nan, nan, nan, nan, 'Midday', nan, nan, nan, nan, 'Afternoon', 'Morning', 'Afternoon', nan, nan, nan, nan, nan, 'Early afternoon', 'Late afternoon', nan, nan, nan, nan, 'AM', nan, 'Morning', nan, 'Morning', nan, 'Night', nan, nan, 'Afternoon', nan, 'A.M.', nan, nan, nan, nan, nan, nan, nan, 'Late afternoon', nan, nan, nan, nan, nan, nan, 'Evening', nan, nan, nan, 'Afternoon', 'Night', nan, nan, 'Evening', nan, nan, nan, nan, nan, 'Morning', 'Afternoon', 'Dusk', 'Morning', nan, nan, nan, nan, nan, 'Afternoon', nan, nan, 'Lunchtime', nan, nan, 'Afternoon', nan, nan, nan, nan, nan, nan, 'Morning', 'Afternoon', nan, 'Late afternoon', nan, 'Morning', nan, 'Afternoon', 'Early morning', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'Morning', nan, 'Morning', nan, nan, nan, nan, nan, 'Morning', nan, nan, nan, 'Dusk', nan, nan, nan, nan, nan, nan, 'Afternoon', nan, 'Afternoon', 'Morning', nan, nan, nan, nan, 'Early morning', nan, 'Night', 'Just before noon', nan, 'Afternoon', 'Morning', nan, nan, 'Evening', nan, nan, nan, nan, nan, 'Afternoon', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'Early morning', nan, nan, 'Dusk', 'Early morning', 'Morning', 'Morning', nan, 'Night', 'Afternoon', 'Afternoon', nan, nan, nan, nan, 'Sunset', 'Morning', 'Afternoon', nan, '  ', nan, nan, 'Morning', 'Evening', nan, nan, nan, nan, nan, 'Afternoon', '"Evening"', 'Afternoon', 'Just before sundown', nan, nan, nan, nan, nan, nan, nan, 'Morning', nan, nan, 'Sunset', nan, nan, nan, nan, nan, nan, 'Afternoon', nan, nan, nan, nan, nan, nan, nan, 'Afternoon', 'Afternoon', nan, nan, 'Afternoon', 'Afternoon', nan, nan, 'Late afternoon', nan, 'Late afternoon', 'Afternoon', nan, nan, 'Morning', nan, nan, nan, 'Afternoon', nan, nan, 'Morning', nan, nan, 'Morning', 'Dusk', nan, 'Afternoon', 'Morning', nan, nan, nan, nan, nan, 'Afternoon', 'Afternoon', nan, 'Morning', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'Morning', 'Afternoon', 'Morning', nan, nan, nan, nan, nan, nan, nan, nan, 'Late afternoon', nan, 'Afternoon', 'Afternoon', 'Morning', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'Midday', nan, 'Afternoon', 'Morning', nan, nan, 'Night', nan, nan, nan, nan, 'Dusk', nan, '--', '--', 'Night', 'Afternoon', nan, nan, nan, nan, nan, nan, 'Morning', nan, 'Afternoon', 'Afternoon', 'Late afternoon', nan, nan, nan, nan, 'Afternoon', '--', 'Dusk', nan, 'Dusk', '--', 'Morning', '--', nan, nan, nan, nan, nan, 'Afternoon', nan, 'Sunset', 'Afternoon', ' ', 'Early Morning', nan, 'Shortly after midnight', nan, nan, nan, '\xa0 ', nan, nan, nan, nan, nan, 'Morning', nan, nan, nan, nan, 'Sunset', 'Morning', nan, nan, nan, 'Late morning', 'P.M.', nan, nan, nan, 'Afternoon', nan, nan, nan, nan, nan, nan, 'Evening', 'Dusk', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'Morning', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'After Dusk', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'Morning', 'P.M.', nan, nan, nan, 'Afternoon', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'Noon', nan, nan, 'Afternoon', nan, nan, nan, 'Morning', nan, 'Afternoon', 'Morning', nan, 'Afternoon', nan, nan, nan, 'Morning', nan, nan, nan, 'Evening', nan, nan, nan, nan, nan, nan, nan, 'Afternoon', nan, nan, 'Late afternoon', 'Afternoon', nan, nan, nan, nan, nan, 'Dusk', nan, nan, nan, nan, nan, nan, nan, 'P.M.', nan, 'Morning', nan, nan, nan, 'Early afternoon', nan, nan, nan, 'Morning', nan, 'Mid afternoon', nan, 'Afternoon', nan, nan, nan, nan, nan, nan, 'Morning', 'Mid morning', nan, nan, nan, nan, 'Evening', nan, nan, nan, nan, nan, nan, nan, 'Night', nan, nan, nan, 'Morning', nan, 'Morning', nan, nan, 'Midday', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'Afternoon', nan, nan, nan, nan, 'Afternoon', nan, nan, nan, nan, nan, nan, nan, 'Night', nan, nan, nan, nan, nan, 'Afternoon', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'Morning', nan, nan, nan, nan, nan, nan, nan, nan, '"Night"', 'Afternoon', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'Afternoon', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'Afternoon', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'Dusk', nan, nan, nan, nan, nan, nan, 'Afternoon', nan, nan, nan, nan, nan, nan, 'A.M.', nan, nan, 'Afternoon', 'Afternoon', nan, nan, nan, nan, nan, nan, 'Morning', nan, nan, nan, nan, nan, nan, 'Late afternoon', nan, nan, nan, nan, nan, 'Afternoon', nan, nan, nan, nan, nan, nan, 'Afternoon', nan, nan, nan, nan, nan, nan, nan, 'Evening', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'Evening', 'Late afternoon', nan, 'Afternoon', nan, nan, nan, 'Afternoon', nan, nan, nan, nan, 'Afternoon', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'Early morning', 'Nightfall', nan, nan, nan, 'X', 'Afternoon', nan, 'Afternoon', nan, nan, nan, nan, nan, nan, 'Afternoon', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'Afternoon', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'Afternoon', nan, nan, nan, nan, nan, nan, nan, 'Afternoon', nan, nan, nan, nan, nan, nan, 'Afternoon', nan, nan, nan, nan, nan, nan, nan, nan, nan, 'Morning', nan, nan, nan, nan, nan, nan, nan, nan, 'Night', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'Morning', nan, 'Morning', nan, 'Night', 'Night', nan, 'Afternoon', nan, nan, 'Dusk', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'Morning', nan, nan, nan, 'Late afternoon', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'Evening', nan, nan, 'Late afternoon', nan, nan, nan, nan, nan, 'P.M.', 'Morning', nan, nan, nan, nan, 'Daybreak', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'Afternoon', nan, nan, nan, nan, 'Night', 'Early afternoon', nan, 'Afternoon', nan, nan, nan, nan, nan, nan, 'Early afternoon', 'AM', nan, nan, nan, nan, nan, nan, nan, nan, nan, 'Morning', nan, nan, nan, nan, nan, nan, nan, nan, nan, 'Dusk', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'Night', nan, nan, nan, nan, nan, 'Night', 'Late afternoon', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'Night', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'Afternoon', nan, nan, 'Mid-morning', nan, nan, nan, nan, nan, nan, nan, nan, 'Afternoon', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'Afternoon', nan, 'Morning', nan, nan, nan, nan, nan, nan, nan, nan, nan, 'Late afternoon', nan, nan, nan, 'Night', nan, nan, nan, nan, nan, nan, nan, nan, 'Late afternoon', nan, 'Afternoon', nan, nan, nan, nan, nan, nan, nan, nan, nan, 'Morning', 'Morning', nan, nan, nan, nan, nan, 'Afternoon', nan, nan, nan, nan, nan, nan, nan, nan, nan, 'Evening', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'Just before dawn', nan, 'Afternoon', 'Evening', nan, nan, 'Afternoon', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'Afternoon', 'Night', nan, nan, nan, nan, nan, 'Late afternoon', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'Afternoon', nan, 'Afternoon', 'Afternoon', nan, nan, 'Morning', 'Afternoon', nan, 'Morning', nan, nan, 'Morning', nan, nan, nan, nan, 'Daytime', nan, nan, nan, nan, 'Morning', nan, nan, nan, nan, nan, nan, nan, nan, 'Afternoon', nan, 'Afternoon', nan, nan, nan, nan, nan, nan, 'Early morning', 'Afternoon', 'Afternoon', 'Night', 'Late afternoon', nan, nan, nan, nan, nan, 'A.M.', nan, nan, nan, 'Morning', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'Night', 'Early afternoon', 'Afternoon', nan, 'Morning', 'Afternoon', nan, 'Afternoon', nan, nan, nan, nan, nan, nan, nan, nan, nan, 'Afternoon', nan, nan, nan, 'Morning', nan, nan, 'Late afternoon', nan, nan, nan, nan, 'Midday', 'Midday', nan, nan, nan, nan, nan, nan, 'Afternoon', 'Night', 'Dark', nan, nan, nan, nan, 'Afternoon', nan, nan, nan, nan, '"After lunch"', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'Morning', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'Late afternoon', nan, nan, nan, 'Night', nan, nan, nan, nan, nan, nan, nan, nan, nan, 'Night', nan, nan, nan, nan, nan, nan, nan, 'Midnight', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'Dawn', nan, nan, nan, nan, nan, nan, nan, nan, nan, 'Late afternoon', nan, nan, nan, 'Morning', nan, nan, nan, nan, nan, 'Night', 'Afternoon', nan, nan, nan, nan, 'Afternoon', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'Midday', nan, nan, nan, nan, 'Morning', nan, nan, 'night', 'Night', 'Night', 'Midday', nan, nan, nan, nan, nan, nan, 'Late afternoon', nan, nan, 'A.M.', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'Early afternoon', nan, nan, nan, nan, nan, nan, 'Afternoon', nan, nan, nan, nan, nan, nan, nan, nan, 'Night', nan, nan, nan, nan, 'Late afternoon', nan, nan, nan, nan, 'Late afternoon', nan, nan, nan, 'Morning', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'P.M.', nan, nan, nan, nan, nan, 'Morning', nan, nan, nan, nan, 'Late afternoon', nan, nan, nan, nan, nan, nan, 'Night', nan, nan, nan, nan, nan, nan, nan, nan, 'P.M.', nan, 'Morning', nan, nan, nan, nan, nan, nan, nan, nan, 'Afternoon', 'Late night', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'Midnight', nan, nan, nan, nan, nan, nan, nan, nan, nan, 'Afternoon', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'A.M.', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'Night', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'Morning', nan, nan, nan, 'P.M.', nan, nan, nan, nan, nan, nan, nan, 'Late afternoon', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'P.M.', nan, nan, nan, nan, nan, nan, 'Afternoon', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'A.M.', nan, 'Early afternoon', nan, nan, nan, nan, nan, 'Midday.', nan, nan, nan, nan, nan, nan, nan, nan, 'Afternoon', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'Night', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'Late afternoon', nan, nan, nan, nan, nan, nan, nan, 'Morning', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'Afternoon', nan, nan, nan, nan, nan, nan, nan, nan, nan, 'Afternoon', nan, nan, nan, nan, '"After dark"', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'Morning', 'P.M.', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'Night', nan, nan, nan, nan, nan, nan, 'Afternoon', nan, nan, 'Afternoon', nan, nan, nan, nan, nan, nan, nan, nan, nan, 'Night', nan, 'P.M.', nan, nan, nan, nan, nan, nan, nan, nan, 'Midday', nan, nan, 'Night', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'Afternoon', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'Afternoon', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'Dark', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'Afternoon', nan, nan, nan, 'P.M.', nan, nan, 'Dusk', 'Dusk', nan, nan, nan, 'A.M.', nan, nan, 'Morning', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'Afternoon', nan, nan, 'A.M.', nan, nan, nan, '"shortly before dusk"', nan, nan, nan, nan, nan, nan, 'Dusk', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'Late afternoon', nan, nan, nan, nan, nan, nan, 'Night', nan, nan, nan, nan, 'Night', nan, nan, nan, nan, nan, 'Night', nan, nan, nan, 'Early morning', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'Afternoon', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'Morning', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'Afternoon', nan, nan, nan, nan, nan, nan, nan, nan, nan, 'Afternoon', nan, nan, nan, nan, nan, 'Afternoon', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'Night', nan, 'Night', nan, nan, nan, nan, 'Night', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'Night', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'Afternoon', nan, nan, nan, nan, nan, nan, nan, nan, nan, 'Night', nan, nan, nan, nan, nan, nan, nan, nan, 'Night', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'Afternoon', nan, nan, 'After dusk', nan, nan, nan, nan, 'FATAL  (Wire netting installed at local beaches after this incident.)', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'Evening', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'Evening', 'Morning', nan, nan, nan, nan, nan, 'Night', 'Night', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'Afternoon', nan, nan, nan, ' ', nan, nan, 'Night', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'After midnight', 'Late afternon', nan, nan, nan, nan, nan, 'Evening', 'Afternoon', nan, nan, nan, nan, 'Afternoon', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'Midday', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'A.M.', nan, nan, nan, nan, nan, 'Evening', nan, 'Morning', 'Morning', nan, nan, 'Afternoon', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'Afternoon', nan, 'Late afternon', 'Afternoon', nan, nan, nan, nan, nan, nan, 'Night', nan, nan, nan, 'Afternoon', 'Morning', 'P.M.', nan, nan, 'A.M.', nan, 'Evening', nan, nan, nan, nan, nan, nan, 'A.M.', nan, nan, nan, 'Afternoon', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'Afternoon', nan, 'Afternoon', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'Afternoon', nan, nan, nan, nan, nan, nan, nan, 'Morning', nan, nan, nan, 'Evening', 'Early morning', nan, nan, nan, nan, '"Early evening"', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'Evening', nan, 'Night', nan, nan, nan, nan, nan, nan, nan, nan, nan, 'Afternoon', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'Morning', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'Morning', nan, nan, nan, nan, nan, nan, 'Afternoon', nan, nan, nan, nan, 'Morning', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'Afternoon', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'Afternoon', 'Afternoon', nan, nan, nan, nan, 'Early morning', 'Afternoon', nan, 'Morning', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 'Afternoon', nan, 'Afternoon

> Resumen: funcion de tiempo

In [88]:
def daytime (x, pattern):
    """ funcion que devuelve el periodo del dia en el que se produjo el ataque

    Args:
        x (str): string que contiene la fecha del ataque 
        pattern (_type_): patron de busqueda

    Returns:
        np.nan: devuelve un nan en el caso de que no se encuentre el patron
        str : devuelve el estado de la fecha del ataque (Morning, Afternoon, Evening, Night)
    """
    import re
    res = re.findall(pattern, x)
    res="".join(res)
    if res in ["06","07","08","09","10","11", "Morning"]:
        return "Morning"
    elif res in ["12","13","14","15","16","17", "Afternoon"]:
        return "Afternoon"
    elif res in ["18","19","20","21","22","23", "Evening"]:
        return "Evening"
    elif res in ["24","01","02","03","04","05", "Night"]:
        return "Night"
    else:
        return x

In [89]:
pattern="^\d{2}|[A-Z][a-z]*"

df["time"]=df["time"].astype(str)
df['time'] = df['time'].apply(lambda x: daytime(x, pattern))

- Comprobacion

In [90]:
df['time'].value_counts(dropna=False).head()

time
nan          3172
Afternoon    1495
Morning       888
Evening       260
Night         100
Name: count, dtype: int64

---
Tratamiento de la columnas de `species`

In [91]:
df["species"].value_counts(dropna=False).head(15)

species
NaN                                                   2693
White shark                                            161
Shark involvement prior to death was not confirmed     105
Invalid                                                100
Shark involvement not confirmed                         88
Tiger shark                                             70
Shark involvement prior to death unconfirmed            64
Bull shark                                              48
4' shark                                                40
6' shark                                                39
Questionable incident                                   35
1.8 m [6'] shark                                        33
Questionable                                            32
1.5 m [5'] shark                                        32
3' shark                                                26
Name: count, dtype: int64

Esta información me parece interesante, sin embargo, los datos están muy mal registrados. Hay muchas frases largas que significan lo mismo.
Regex:
- Tiburones definidos por nombres (mayúscula + tiburón):` ([A-Z][a-z]*\sshark) `
- Tiburones definidos por su longitud (en yardas):` \d+']\sshark|\d+'\sshark `
- No confirmado: (no confirmado)|(Inválido)|(Cuestionable)|(sin confirmar)

In [92]:
df["species"]=df["species"].astype(str)
df["species"]

0           White shark
1                   nan
2                   nan
3             2 m shark
4       Tiger shark, 3m
             ...
6102                nan
6103                nan
6104                nan
6105                nan
6106                nan
Name: species, Length: 6107, dtype: object

In [93]:
list(df["species"])

['White shark',
 'nan',
 'nan',
 '2 m shark',
 'Tiger shark, 3m',
 'nan',
 'Tiger shark',
 "Lemon shark, 3'",
 "Bull shark, 6'",
 'nan',
 'Grey reef shark',
 'nan',
 'nan',
 'Invalid incident',
 'Tawny nurse shark, 2m',
 'nan',
 'Shark involvement not confirmed',
 'nan',
 'Tiger shark',
 'nan',
 'Questionable',
 '3 m shark',
 'White shark, 3.5 m',
 'Tiger shark',
 'White shark, 2.5 m',
 "6' shark",
 'Juvenile bull shark',
 'nan',
 'nan',
 'nan',
 'Tiger shark',
 'Shark involvement not confirmed',
 '2 m shark',
 'Bull shark',
 'White shark',
 "Tiger shark, 12'",
 'Wobbegong shark',
 '3.5 m shark',
 '1.8 m shark',
 'Blacktip shark',
 'Juvenile white shark,  2.7 to 3.2 m',
 'nan',
 'Bull shark, 2 m',
 'Possibly a wobbegong',
 'Injury believed caused by an eel, not a shark',
 'Galapagos shark?',
 '2m shark',
 'Bull shark',
 'Bull shark, 3 m ',
 'Grey reef shark. 2 m',
 'White shark, 3.5 m',
 'small shark',
 'Wobbegong shark?',
 'Tiger shark',
 'nan',
 'Juvenile nurse shark',
 "Nurse shark. 5'",
 'Tiger shark, female',
 'Tiger shark, female',
 'Some drowned but other may have been killed by blue sharks',
 'White shark, 4.6 m',
 'nan',
 'nan',
 '2 m shark',
 'Tiger shark',
 'Cookiecutter shark',
 'Wobbegong shark, 1 m',
 'nan',
 'nan',
 'nan',
 'nan',
 'White shark, 4.5 m',
 '2 m shark',
 'Spinner shark, 4 to 5 feet',
 'Tiger shark, 8 to 10 feet',
 "8' shark",
 'Death may have been due to drowning',
 "5' shark",
 'White shark, 3.5 m',
 'Questionable',
 "4' to 5' shark",
 'nan',
 'Porbeagle, 1.5 m',
 'nan',
 'nan',
 'nan',
 'White shark, 3.5m',
 "5' to 6' shark",
 'nan',
 'White shark, 3 to 3.5m ',
 'nan',
 'nan',
 'nan',
 'Nurse shark',
 'nan',
 'nan',
 'White shark, 3 m',
 'nan',
 'Shark involvement questionable',
 'nan',
 "White shark, 5' to 7'",
 "5' shark",
 'Possibly a juvenile blacktip shark',
 'Oceanic whitetip shark, 1.8 to 2 m',
 "4' shark",
 "White shark, 10'",
 'nan',
 'A small shark',
 'nan',
 'nan',
 'nan',
 'nan',
 "Sandtiger shark  2'",
 "Blue shark 6'",
 '"A small shark"',
 'Shark involvement not confirmed',
 "White shark, 11' to 13'",
 "White shark, 8' to 10'",
 "White shark, 9'",
 'nan',
 'White shark',
 "Bull shark, 4' to 5'",
 'Tiger shark, 100 kg',
 'White shark, 2.5 m',
 'Shark involvement prior to death not confirmed',
 'No shark invovlement ',
 'nan',
 'nan',
 "Bull shark, 4' to 5'",
 'Bull shark, 2m',
 'nan',
 'nan',
 'nan',
 'White shark, 4 m',
 'Seven-gill shark',
 'nan',
 '3m shark, probably a smooth hound',
 "8' shark",
 'Tiger shark',
 "3' shark",
 'Tiger shark',
 'nan',
 'nan',
 "9' shark",
 'nan',
 'Shark involvement highly doubtful',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'No shark invovlement - it ws a publicity stunt',
 'nan',
 'Shark involvement not confirmed',
 'nan',
 'White shark',
 "Tiger shark, 12'",
 'nan',
 'nan',
 'Shark involvement prior to death not confirmed',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 "Bull shark, 5' to 7'",
 'nan',
 'nan',
 'White shark',
 "10' shark",
 'Lemon shark',
 'Bull shark, 1.5',
 'nan',
 'nan',
 'nan',
 'nan',
 'Lemon shark pup',
 'Tiger shark',
 "White shark, female, 14'",
 'Caribbean reef shark',
 'nan',
 'nan',
 'Bull shark, 4 m',
 'nan',
 'nan',
 'Bull shark, 1 m',
 'Bull shark',
 'nan',
 'Shark involvement not confirmed',
 'nan',
 'a small shark',
 'White shark, 4 m',
 'nan',
 'nan',
 'Shark involvement not confirmed',
 'Wobbegong shark, 2m',
 'White shark',
 'Broadnose sevengill shark, 1.5 m',
 'Tiger shark',
 'nan',
 'nan',
 'nan',
 " 6' to 8' shark",
 'nan',
 'nan',
 'White shark',
 'nan',
 'nan',
 'nan',
 'nan',
 'White shark, 3.5 m',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 '2 m shark',
 'nan',
 "3' to 4' shark",
 "Tiger shark, 10'",
 'nan',
 'nan',
 'nan',
 'nan',
 "White shark, 8' to 10'",
 'Invalid',
 "Bull shark, 6'",
 'nan',
 'Bull shark, 3.5 m',
 'nan',
 'nan',
 "Tiger shark, 10' ",
 'Blacktip shark',
 'Blue shark',
 'nan',
 'White shark',
 "Nurse shark, 4'",
 'nan',
 'nan',
 'nan',
 "Bull shark, 6'",
 'reef shark, 1m',
 "Tiger shark, 10' ",
 'nan',
 'nan',
 "White shark, 10' to 12'",
 'nan',
 "Lemon shark, 9'",
 'Angel shark',
 'White shark',
 'dogfish shark',
 'White shark',
 'nan',
 'Tawny nurse shark',
 "3' to 4' shark",
 'nan',
 "Caribbean reef shark, 4.5'",
 'White shark',
 "3' to 5' shark",
 'nan',
 "3' to 4' shark",
 "5' shark",
 "3' to 4' shark",
 "3' shark",
 "Said to involve an 8' shark but more likely damage caused by debris",
 'nan',
 '3+ m shark',
 'Mako shark',
 'Bronze whaler sharks x 3',
 '3 m shark',
 'White shark',
 'nan',
 "5' shark",
 'nan',
 "Bull shark, 4' to 5'",
 'nan',
 "Blacktip shark, 4'",
 "Nurse shark, 2'",
 'nan',
 "Mako shark, 1.5 m [5'] ",
 "Bull shark, 6'",
 'nan',
 'White shark',
 'Wobbegong shark',
 'Grey reef shark, 2 m',
 'Grey reef shark, 2 m',
 "Bull shark, 7'",
 'Tiger shark, 2.5 m',
 'Shark involvement not confirmed',
 "5' to 6' shark",
 'nan',
 'nan',
 'nan',
 'Shark involvement not confirmed',
 'nan',
 'Nurse shark, 2.5-ft',
 'Shark involvement not confirmed',
 'nan',
 'nan',
 'nan',
 'Bronze whaler',
 'Sandtiger shark',
 'nan',
 'nan',
 'nan',
 'No shark involvement',
 'No shark involvement',
 'nan',
 'nan',
 'Sandtiger shark',
 'nan',
 "Reef shark, 5'",
 'nan',
 'Bull sharks x 2',
 'Mako shark',
 "Tiger shark, 14'",
 'Wobbegong shark',
 'Blacktip shark',
 '3 m shark',
 'White shark, 3 m',
 "Silky shark, 6.5'",
 "9' shark",
 "Bronze whaler shark, 6'",
 'Tiger shark, 1.5 m ',
 'nan',
 'White shark, 3.5 m',
 'Bull shark',
 'nan',
 'Galapagos shark',
 'nan',
 'nan',
 "Spinner shark, 7'",
 'Bull shark, 2.8 to 3.1 m',
 'Shark involvement not confirmed',
 'nan',
 "3' to 5' shark",
 'nan',
 'nan',
 'nan',
 'White shark, 3 to 3.5m ',
 "5' shark",
 "Spinner shark, 5'",
 'nan',
 'No shark involvement',
 "Tiger shark, 7'",
 'Hammerhead sp.',
 'nan',
 "Tiger shark, 13' ",
 'nan',
 'nan',
 'nan',
 "4' to 5' shark",
 "Blacktip shark, 4' to 5'",
 "Blacktip shark, 5' to 6'",
 'nan',
 "White shark, 19'",
 'juvenile shark',
 "Tiger shark, 13'",
 "4' shark",
 'nan',
 'Hammerhead shark',
 'nan',
 'nan',
 "6' shark",
 "White shark, 11' to 12'",
 'Hammerhead shark.',
 'White shark, 2.5 m',
 "4' shark?",
 'small shark',
 'Tiger shark',
 "White shark, 11' to 12'",
 "White shark, 10' to 12' ",
 'Shark involvement not confirmed',
 'nan',
 "4' shark",
 "3' shark",
 "White shark, 13'",
 'Shark involvement not confirmed',
 "Hammerhead shark. 6' to 7'",
 'White shark',
 'nan',
 'nan',
 "Blacktip or spinner shark, 4'",
 "Thought to involve a 3' to 4' shark, but shark involvement not confirmed",
 'White shark, 3.9 to 4.2 m',
 'Mako shark, 100-lb',
 'Bronze whaler shark, 1.5m',
 'Bull shark, 2m',
 'White shark',
 "White shark, 7'",
 'Shark involvement not cofirmed',
 'No shark involvement',
 "6' shark",
 'nan',
 'White shark',
 'White shark',
 "6' to 7' shark",
 'nan',
 "4' to 5' shark",
 'Bull shark',
 'White shark',
 'Shark involvement not confirmed',
 'White shark, 2m to 3 m',
 "4' shark",
 'Wobbegong shark',
 'nan',
 'Sandtiger shark',
 'White shark',
 'small shark',
 'nan',
 'nan',
 'Bull shark',
 'Bull shark',
 'Mako shark',
 "4' shark",
 "Bull shark, 5'",
 'small nurse shark',
 'Bull shark, 2.5 m',
 'nan',
 'nan',
 '1m to 1.2 m shark',
 'nan',
 "5' shark",
 "6' shark",
 'Bull shark, 3.5 m',
 'nan',
 'White shark',
 'White shark, 3.5 m',
 'nan',
 '3- to 4-foot shark',
 'White shark, 6 m',
 'White shark, 3 m',
 'Blue shark, 8 to 9 feet',
 'Bull shark',
 'nan',
 'Bull shark',
 'Shark involvement not cofirmed',
 'No shark involvement',
 'White shark, 4 m',
 'Mako shark',
 'Tiger shark, 8 to 12 feet',
 'Blacktip shark',
 'nan',
 'nan',
 'Blacktip Reef shark ',
 'White shark',
 'Tiger shark, 3.5 m',
 '3.5 to 4 m shark',
 '2 m to  3 m shark',
 '1.8 m shark',
 'Bull shark, 1.3 m',
 "4' shark",
 'nan',
 'nan',
 'White shark',
 'Shark involvement not confirmed',
 '5 m shark',
 '1.5 m shark',
 'No shark involvement',
 'White shark or oceanic whitetip shark',
 'Raggedtooth shark, 1.3 m',
 '"A small shark"',
 '2 m shark',
 'White shark, 4 to 5 m',
 'Shark involvement prior to death still to be determined',
 'Shark involvement not confirmed & highly unlikely',
 "White shark, 8' to 10'",
 '1.5 m shark',
 'Goblin shark',
 'Tiger shark',
 'nan',
 'nan',
 'nan',
 'White shark',
 'White shark',
 "2' shark",
 '1.5 m shark',
 'nan',
 'nan',
 "Tiger shark, 12'",
 'nan',
 'Tiger shark',
 'nan',
 'nan',
 "12' to 14' shark",
 '1 m shark',
 "Bull shark, 3' to 4'",
 'nan',
 'nan',
 'Blacktip shark',
 'nan',
 'Blacktip shark',
 "White shark, 18' to 20'",
 'White shark',
 "8' to 10' shark",
 '2 white shark: 13\' & 9"8"',
 'nan',
 'Blacktip shark',
 'No shark involvement',
 "7' shark",
 'Bull shark',
 "White shark, 12' to 14'",
 "3' to 4' shark",
 'nan',
 'Spinner shark',
 'Spinner shark or blacktip shark',
 'Shark involvement not confirmed',
 'nan',
 'small shark',
 "4' to 6' shark",
 'nan',
 "Bull shark, 4.5' ",
 "4' shark",
 'reef shark',
 " Bull shark, 8'",
 'nan',
 "Bull shark, 9' to 10'",
 'nan',
 " Bull shark, 5'",
 "4' tp 5' shark",
 'nan',
 'nan',
 'nan',
 'White shark',
 'Shark involvement not confirmed',
 'Possibly juvenile tiger shark',
 '1.8 metre shark',
 'nan',
 'Angel shark',
 "6' to 8' shark",
 "4' shark",
 'Shark involvement not confirmed',
 'nan',
 'nan',
 " White shark, 7' ",
 'nan',
 "4' to 5' shark",
 "Oceanic whitetip shark'",
 "Caribbean reef shark, 7' to 8'",
 'nan',
 'nan',
 ' Lemon shark, 3.5 m',
 'nan',
 " Sandbar shark, 3' to 4'",
 'Bronze whaler shark, 1.5m',
 'nan',
 'nan',
 'Bull shark',
 'nan',
 'Blacktip Reef shark ',
 ' Bull shark, 1.2m ',
 '3m shark',
 ' Tawney nurse shark, 1m',
 'nan',
 " white shark, 15' ",
 'nan',
 'Shark involvement not confirmed',
 'No shark involvement',
 "4' to 5' shark",
 'Cow shark',
 "3' shark",
 'reef shark?',
 'nan',
 'nan',
 'White shark',
 ' Raggedtooth shark, 2m',
 'nan',
 'nan',
 '3 m to 4 m white shark',
 'Shark involvement prior to death not confirmed',
 '2 m shark',
 "4' to 5' shark",
 'nan',
 'nan',
 'nan',
 'No shark involvement',
 'Wobbegong shark',
 'Invalid',
 'Blacktip or spinner shark?',
 'Blacktip reef shark ',
 'nan',
 'nan',
 'nan',
 '7-gill shark?',
 '1m shark',
 '7-gill shark',
 'nan',
 'Oceanic whitetip shark',
 'White shark, 6 m',
 'Reported to involve a bull shark',
 'White shark, 3m ',
 'nan',
 "Tiger shark, 10' to 12'",
 "4' to 6' shark",
 ' Wobbegong shark, 1.6 to 1.8m ',
 'nan',
 'Tiger shark, 3m ',
 'nan',
 'Thought to involve a white shark',
 "White shark, 10 '",
 'Reported to involve a white shark',
 'nan',
 'nan',
 'nan',
 'Tiger shark',
 'Blacktip reef shark, 1m',
 'Thought to involve a bull shark',
 'Reported to involve a 4 m white shark',
 'Wobbegong shark',
 "Whitetip reef shark, 4' to 6'",
 'Tiger shark',
 'Nurse shark?',
 'White shark',
 'White shark',
 "White shark, 8' to 10'",
 'Small bull shark',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'Bull shark',
 "3' shark",
 'nan',
 "3' shark",
 "3' shark",
 'nan',
 'Nurse shark',
 'nan',
 "4' shark",
 'Blacktip shark',
 'Salmon shark',
 'No shark involvement',
 "Mako shark, 5'",
 'nan',
 'nan',
 'nan',
 'White shark',
 'Tiger shark?',
 'nan',
 "Bull shark, 8'",
 'Blacktip shark',
 "Bull shark, 6' to 8'",
 'nan',
 'nan',
 "6' shark",
 'nan',
 "Tiger shark, 8' to 10' ",
 'Nurse shark',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'Shark involvement not confirmed',
 'nan',
 'nan',
 'Shark involvement prior to death not confirmed',
 'White shark',
 "Possibly a Bull shark, 3'",
 "4' to 5' shark",
 "Tiger shark, 14'",
 'nan',
 'nan',
 'nan',
 "4' to 5' shark",
 "Lemon shark, 4'",
 "6' shark",
 'Galapagos shark',
 'nan',
 'nan',
 'nan',
 'Galapagos shark',
 'Invalid',
 'Bull shark',
 'a small shark',
 'Wobbegong, 2m',
 'Tiger shark',
 'Grey nurse shark, 3m',
 "3' shark",
 'Blue shark',
 'Bull shark',
 'nan',
 'Possibly a blacktip reef shark',
 'nan',
 'shark involvement not confirmed',
 "4' shark",
 'No shark involvement',
 'nan',
 'Nurse shark',
 'nan',
 'Raggedtooth shark, 1.5 m',
 'nan',
 'Tiger shark, 4.8 m',
 'Bronze whaler shark, 2.5m',
 '"small sharks"',
 'nan',
 'White shark, 4m',
 'reef shark?',
 'reef shark?',
 "Blacktip shark, 4' to 5'",
 'Lemon shark',
 'nan',
 'White shark, 5m',
 'nan',
 'nan',
 "Tiger shark, 15'",
 'Bronze whaler shark, 3m',
 'nan',
 'nan',
 '2.5 m shark',
 'Bull shark, 2m ',
 'Tiger shark',
 "Tiger shark, 6'",
 "10' shark",
 'Sandtiger shark',
 'Seven-gill shark',
 "Tiger shark, 10'",
 'No shark involvement',
 '2.5 m shark',
 "2' to 3' shark",
 "Tiger shark, 15'",
 "Tiger shark, 8'",
 'White shark',
 "Tiger shark, 10' to 12' ",
 "White shark, 15' to 16' ",
 'nan',
 'nan',
 "6' to 8' shark",
 'Shark involvement not confirmed',
 'nan',
 'nan',
 '2m shark',
 "5' shark",
 "4' shark",
 'nan',
 'Possibly a 3 m bull shark',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 "3.5' to 4' shark",
 "Tiger shark, 10' to 12' ",
 "3.5' to 4' shark",
 "Porbeagle shark, 7'",
 'nan',
 'nan',
 'nan',
 '4.5 m shark',
 "Lemon shark, 4' to 5' ",
 'Bull shark',
 'Lemon shark, 2.5m to 3m ',
 'nan',
 'White shark or bronze whaler',
 'nan',
 'Thought to involve a white shark',
 'Shark involvement not confirmed',
 'nan',
 'nan',
 'Salmon shark suspected, but unlikely',
 'White shark, 5m',
 'nan',
 'nan',
 'nan',
 "14' to 18'shark",
 "15' shark",
 'No shark involvement',
 'possibly a bull shark',
 'nan',
 'a small reef shark',
 'nan',
 'nan',
 '3 m shark',
 'No shark involvement',
 'nan',
 'Nurse shark',
 'small blacktip shark?',
 'Shark involvement not confirmed',
 'small blacktip shark?',
 'Blacktip shark ',
 '1.5 m shark',
 'Blue shark, 2.5m',
 'White shark, 2 m',
 'nan',
 'nan',
 '18" to 24" shark',
 'Bull shark, 3m',
 "4' to 5' shark",
 "Tiger shark, 8' to 9' ",
 'nan',
 'White shark',
 'nan',
 'White shark',
 "5' shark",
 'White shark, 4 m to 5m ',
 'White shark, 6m ',
 "Tiger shark, 10'  ",
 'a small shark',
 'White shark, 4m ',
 'nan',
 'White shark',
 'Possibly a bull shark',
 "Possibly a 5' to 6' bull shark",
 "4' to 5' shark",
 "4' to 5' shark",
 'nan',
 'Tawny nurse shark, 40cm',
 'nan',
 "4' shark",
 'nan',
 'nan',
 'Spinner shark',
 'Grey nurse shark',
 'White shark, 7m',
 'nan',
 "6' to 8' shark",
 'Tiger shark, 3m',
 'Tiger shark',
 'Blue shark, 70-kg blue shark',
 'White shark, 2.7 m',
 'Thought to involve a bull shark',
 'White shark',
 '2 m shark',
 'Allegedly a 4 m tiger shark',
 'nan',
 'Shark involvement not confirmed',
 'nan',
 'nan',
 "7' to 8' shark ",
 'nan',
 'White shark, 2.5m',
 'Shark involvement not confirmed',
 'Wobbegong shark',
 'nan',
 'Shark involvement not confirmed',
 'nan',
 'nan',
 'Wobbegong shark?',
 "White shark, 15' to 16'",
 'nan',
 'nan',
 'nan',
 'White shark',
 "8' to 10' shark",
 'Raggedtooth shark',
 "White shark, 10'",
 "White shark, 15'",
 'Port Jackson shark, 1m',
 "3' shark",
 "10' to 12' shark",
 'nan',
 '2 to 2.5 m shark',
 'nan',
 'nan',
 'No shark involvement',
 'nan',
 'White shark',
 "Bull shark, 6'",
 'nan',
 'nan',
 'nan',
 'nan',
 "4' to 6' shark",
 'nan',
 'Tiger shark, 2m',
 'nan',
 'White shark',
 "6' shark, possibly a blactip or spinner shark",
 "6' shark",
 'Shark involvement prior to death not confirmed',
 'nan',
 'nan',
 'nan',
 'nan',
 "White shark, >6'",
 'nan',
 "Possibly a 5' to 6' sandtiger shark",
 'Shark involvement not confirmed',
 '4 m shark',
 'Grey reef shark ',
 'nan',
 "Bull shark, 6'",
 'Shark involvement not confirmed',
 'nan',
 'nan',
 'Shark involvement prior to death not confirmed',
 'nan',
 'nan',
 'White shark, 3m to 4m',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'Bull shark, 3m female',
 "Bull shark, 6'",
 "White shark, 5' k",
 'nan',
 "5' shark",
 'nan',
 'nan',
 "Oceanic whitetip shark, 7'",
 "Blacktip shark, 4'",
 'nan',
 "Sevengill shark, 6' to 8'",
 "3' to 4' shark",
 'Blacktip reef shark ',
 'nan',
 'White shark',
 "Tiger shark, 10'",
 'Tiger shark',
 'Zambesi shark',
 'nan',
 ' Tiger shark, 2.8m',
 'nan',
 "Sandbar shark, 8'",
 'Invalid',
 'nan',
 "Bull shark, 12'",
 'reef shark, 1.5m',
 "1' to 2' shark",
 'possibly a bronze whaler shark',
 ' Bull shark, 2.5 m',
 'nan',
 'Blacktip shark pup',
 'Bull shark',
 'Bull shark, 2.5m',
 'nan',
 'nan',
 '3 m to 4 m shark',
 'nan',
 'nan',
 'Bull shark, 2m',
 '1.5 m shark',
 'nan',
 'White shark x 2',
 '1 m shark',
 'nan',
 'nan',
 'nan',
 "6' shark",
 'nan',
 'Caribbean reef shark',
 'Shark involvement not confirmed',
 'nan',
 'nan',
 'White shark',
 "6' shark",
 'nan',
 'nan',
 'Oceanic whitetip shark, 2.5m ',
 'nan',
 'Mako shark ',
 'Mako shark',
 'Oceanic whitetip shark, 2.5m, female',
 'Oceanic whitetip shark, 2.5m, female',
 'nan',
 'Shark involvement not confirmed',
 'nan',
 'nan',
 'nan',
 'White shark',
 'White shark',
 'nan',
 'nan',
 'nan',
 "Porbeagle shark, 8' ",
 'nan',
 "White shark, 14' to 18' ",
 'nan',
 'Bull shark, 1.4m ',
 'Lemon shark',
 "Possibly a 6' lemon shark",
 'nan',
 'White shark',
 'nan',
 'White shark',
 '2m shark',
 "3' shark",
 'nan',
 'nan',
 'nan',
 'nan',
 'nan',
 'Shark involvement prior to death was not confirmed',
 'nan',
 'White shark',
 'White shark',
 'nan',
 'nan',
 ...]

In [94]:
#[A-Z][a-z]*\sshark|\d+'] indica que queremos buscar una palabra que empiece por mayuscula y acabe por shark o un numero seguido de ' y shark, 
#\sshark| indica que queremos buscar una palabra que empiece por un numero seguido de ' y shark , 
#d+'\sshark indica que queremos buscar un numero seguido de ' y shark
pattern= "[A-Z][a-z]*\sshark|\d+']\sshark|\d+'\sshark" 
x = "Tiger shark, 3m"

res = re.findall(pattern, x)
res

['Tiger shark']

In [95]:
"".join(res)

'Tiger shark'

In [ ]:
pattern= "[A-Z][a-z]*\sshark|\d+']\sshark|\d+'\sshark" 
x = "Mako shark, 1.5 m [5'] "

res = re.findall(pattern, x)
res=res.replace("]", "")
res

In [97]:
def regeshark (x, pattern):
    """ funcion que devuelve el tipo de tiburon que ha atacado usando regex y el patron de busqueda

    Args:
        x (str): string que contiene el tipo de tiburon
        pattern (str): patron de busqueda

    Returns:
        np.nan: en caso en el que no se encuentre el patron devuelve un nan
        str: devuelve el tipo de tiburon
    """
    res = re.findall(pattern, x)
    res="".join(res)
    res=res.replace("]", "")
    if "shark" in res:
        return res
    else:
        return np.nan

In [98]:
pattern= "[A-Z][a-z]*\sshark|\d+']\sshark|\d+'\sshark"
df['species_sorted'] = df['species'].apply(lambda x: regeshark(x, pattern))

In [99]:
df['species_sorted'].value_counts(dropna=False).head(20)

species_sorted
NaN                  4214
White shark           430
Tiger shark           233
5' shark              131
Bull shark            125
6' shark              101
4' shark               97
8' shark               51
Nurse shark            47
Wobbegong shark        46
Mako shark             44
3' shark               43
Raggedtooth shark      43
10' shark              41
12' shark              39
7' shark               36
Blacktip shark         33
Lemon shark            32
Blue shark             29
Zambesi shark          29
Name: count, dtype: int64

Parece que ya tenemos una columna de especies limpia

---
Tratamiento de la columnas de `age`

En la columna `age` aparecen ciertos valores como strings por lo que necesitamos transformarlos en integer. 

Para los valores nulos podremos estimarlos calculando la media y la std para posteriormente inferir de manera aleatoria valores sin peder informacion.

In [100]:
df['age'].value_counts(dropna=False).head()

age
NaN    2653
17      154
18      150
20      140
19      140
Name: count, dtype: int64

In [101]:
df['age'].unique()

array(['57', '11', '48', nan, '18', '52', '15', '12', '32', '10', '21',
       '34', '30', '60', '33', '29', '54', '41', '37', '56', '19', '25',
       '69', '38', '55', '35', '46', '45', '14', '40s', '28', '20', '24',
       '26', '49', '22', '7', '31', '17', '40', '13', '42', '3', '8',
       '50', '16', '82', '73', '20s', '68', '51', '39', '58', 'Teen',
       '47', '61', '65', '36', '66', '43', '60s', '9', '72', '59', '6',
       '27', '64', '23', '71', '44', '62', '63', '70', '18 months', '53',
       '30s', '50s', 'teen', '77', '74', '28 & 26', '5', '86', '18 or 20',
       '12 or 13', '46 & 34', '28, 23 & 30', 'Teens', '36 & 26',
       '8 or 10', '84', '\xa0 ', ' ', '30 or 36', '6½', '21 & ?', '75',
       '33 or 37', 'mid-30s', '23 & 20', ' 30', '7      &    31', ' 28',
       '20?', "60's", '32 & 30', '16 to 18', '87', '67', 'Elderly',
       'mid-20s', 'Ca. 33', '74 ', '45 ', '21 or 26', '20 ', '>50',
       '18 to 22', 'adult', '9 & 12', '? & 19', '9 months', '25 to 35',
       '23 & 26', '1', '(adult)', '33 & 37', '25 or 28',
       '37, 67, 35, 27,  ? & 27', '21, 34,24 & 35', '30 & 32', '50 & 30',
       '17 & 35', 'X', '"middle-age"', '13 or 18', '34 & 19', '33 & 26',
       '2 to 3 months', 'MAKE LINE GREEN', ' 43', '81', '"young"',
       '7 or 8', '78', '17 & 16', 'F', 'Both 11', '9 or 10', 'young',
       '36 & 23', '  ', 'A.M.', '?    &   14', '10 or 12', '31 or 33',
       '2½'], dtype=object)

In [108]:
# fucnion que crea lista de numeros en un string
def age(x):
    """ funcion que crea una lista de numeros en un string

    Args:
        x (str): string a analizar

    Returns:
        list: lista de numeros en un string
    """
    if type(x) != str:
        return np.nan
    else:
        return re.findall("\d+", x)

In [109]:
df['age']=df['age'].astype(str)
df['age2']=df['age'].apply(lambda x: age(x))

In [110]:
df.head(3)

,case_number,date,year,type,country,area,location,activity,name,sex,age,injury,fatal_(y/n),time,species,investigator_or_source,pdf,case_number.1,case_number.2,original_order,href,species_sorted,age2
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,Evening,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,2018.06.25,2018.06.25,6303.0,http://sharkattackfile.net/spreadsheets/pdf_di...,White shark,[57]
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,Afternoon,nan,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,2018.06.18,2018.06.18,6302.0,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,[11]
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,Morning,nan,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,2018.06.09,2018.06.09,6301.0,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,[48]

Se observa que tenemos varios años, en esos casos significa que ese registro tiene varias victimas. Una posible solucion seria la de aplicar un `explode` para esos registros.

In [122]:



# generamos una columna para aplicar un explode y mantenemos la columna age2 para comprobar 
df['age3'] = df['age2']
# explode de una columna age3
df  = df.explode("age3")
df

,case_number,date,year,type,country,area,location,activity,name,sex,age,injury,fatal_(y/n),time,species,investigator_or_source,pdf,case_number.1,case_number.2,original_order,href,species_sorted,age2,age3
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,Evening,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,2018.06.25,2018.06.25,6303.0,http://sharkattackfile.net/spreadsheets/pdf_di...,White shark,[57],57
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,Afternoon,nan,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,2018.06.18,2018.06.18,6302.0,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,[11],11
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,Morning,nan,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,2018.06.09,2018.06.09,6301.0,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,[48],48
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,nan,Minor injury to lower leg,N,nan,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,2018.06.08,2018.06.08,6300.0,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,[],NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,nan,Lacerations to leg & hand shark PROVOKED INCIDENT,N,nan,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,2018.06.04,2018.06.04,6299.0,http://sharkattackfile.net/spreadsheets/pdf_di...,Tiger shark,[],NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6102,1826.11.00,Ca. Nov-1826,1826.0,Unprovoked,GHANA,Cape Coast,NaN,Bathing,a seaman from HM Redwing,M,nan,FATAL,Y,nan,nan,"Sydney Gazette and New South Wales Advertiser,...",1826.11.00-seaman-Redwing.pdf,1826.11.00,1826.11.00,201.0,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,[],NaN
6103,1826.08.28,28-Aug-1826,1826.0,Sea Disaster,CUBA,NaN,NaN,HBM Magpie foundered in a squall,Lieutenant Edward Smith,M,nan,FATAL,Y,nan,nan,Edinburgh Advertiser. 10/20/1826,1826.08.28-Smith.pdf,1826.08.28,1826.08.28,200.0,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,[],NaN
6104,1826.08.15.R,Reported 15-Aug-1826,1826.0,Unprovoked,ENGLAND,Cumberland,Whitehaven,Bathing,child,NaN,nan,FATAL,NaN,nan,nan,"The Times (London), 8/15/1826",1826.08.15.R-Whitehaven.pdf,1826.08.15.R,1826.08.15.R,199.0,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,[],NaN
6105,1826.05.20.R,Reported 20-May-1826,1826.0,Unprovoked,JAMAICA,NaN,NaN,Jumped overboard,Thomas Loring,M,nan,FATAL,Y,Evening,nan,"The Times, 7/19/1826",1826.05.20.R-Loring.pdf,1826.05.20.R,1826.05.20.R,198.0,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,[],NaN
6106,1825.00.00.b,1820s,1825.0,Unprovoked,AUSTRALIA,Tasmania,"Sweet Water Point, Pitt Water",Swimming,"""Amphibious Jack"" male",M,nan,FATAL,Y,nan,nan,"C. Black, GSAF, G.T. Lloyd, pp.79-81; C. Black...",1825.00.00.b-AmphibiousJack.pdf,1825.00.00.b,1825.00.00.b,197.0,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,[],NaN

In [123]:
# ahora podemos rellenar los valores nulos de la columna age3 haciendo inferencia mediante la normal tras calcular la media y std de la columna age3

# calculamos la media y std de la columna age3
media = df["age3"].astype(float).mean()
std = df["age3"].astype(float).std()

In [125]:
# importamos las librerias para generar una normal 
import scipy.stats as stats

In [126]:

# generamos un objeto para crear una distribucion normal con la media y std de la columna age3
dist = stats.norm(media, std)

In [130]:
# rellenamos los valores nulos de la columna age3 con valores aleatorios generados por la distribucion normal
df["age3"] = df["age3"].apply(lambda x: dist.rvs() if pd.isnull(x) else x)

df

,case_number,date,year,type,country,area,location,activity,name,sex,age,injury,fatal_(y/n),time,species,investigator_or_source,pdf,case_number.1,case_number.2,original_order,href,species_sorted,age2,age3
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,Evening,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,2018.06.25,2018.06.25,6303.0,http://sharkattackfile.net/spreadsheets/pdf_di...,White shark,[57],57
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,Afternoon,nan,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,2018.06.18,2018.06.18,6302.0,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,[11],11
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,Morning,nan,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,2018.06.09,2018.06.09,6301.0,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,[48],48
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,nan,Minor injury to lower leg,N,nan,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,2018.06.08,2018.06.08,6300.0,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,[],38.590376
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,nan,Lacerations to leg & hand shark PROVOKED INCIDENT,N,nan,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,2018.06.04,2018.06.04,6299.0,http://sharkattackfile.net/spreadsheets/pdf_di...,Tiger shark,[],36.174184
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6102,1826.11.00,Ca. Nov-1826,1826.0,Unprovoked,GHANA,Cape Coast,NaN,Bathing,a seaman from HM Redwing,M,nan,FATAL,Y,nan,nan,"Sydney Gazette and New South Wales Advertiser,...",1826.11.00-seaman-Redwing.pdf,1826.11.00,1826.11.00,201.0,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,[],49.953654
6103,1826.08.28,28-Aug-1826,1826.0,Sea Disaster,CUBA,NaN,NaN,HBM Magpie foundered in a squall,Lieutenant Edward Smith,M,nan,FATAL,Y,nan,nan,Edinburgh Advertiser. 10/20/1826,1826.08.28-Smith.pdf,1826.08.28,1826.08.28,200.0,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,[],15.025198
6104,1826.08.15.R,Reported 15-Aug-1826,1826.0,Unprovoked,ENGLAND,Cumberland,Whitehaven,Bathing,child,NaN,nan,FATAL,NaN,nan,nan,"The Times (London), 8/15/1826",1826.08.15.R-Whitehaven.pdf,1826.08.15.R,1826.08.15.R,199.0,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,[],21.492926
6105,1826.05.20.R,Reported 20-May-1826,1826.0,Unprovoked,JAMAICA,NaN,NaN,Jumped overboard,Thomas Loring,M,nan,FATAL,Y,Evening,nan,"The Times, 7/19/1826",1826.05.20.R-Loring.pdf,1826.05.20.R,1826.05.20.R,198.0,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,[],28.233452
6106,1825.00.00.b,1820s,1825.0,Unprovoked,AUSTRALIA,Tasmania,"Sweet Water Point, Pitt Water",Swimming,"""Amphibious Jack"" male",M,nan,FATAL,Y,nan,nan,"C. Black, GSAF, G.T. Lloyd, pp.79-81; C. Black...",1825.00.00.b-AmphibiousJack.pdf,1825.00.00.b,1825.00.00.b,197.0,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,[],33.48886

In [116]:
df.drop(columns=["age3"], inplace=True)

Voy a hacer lo mismo con la columna Fecha, hay 5 columnas con información sobre la fecha, es decir,  "Case Number",	"date", "Year", "Case Number.1" and "Case Number.2".  El año puede dar alguna información, así que me quedo con esta columna, de las otras 4 columnas sólo me interesa coger el mes de la columna "date", quiero ver si hay una correlación entre la época del año y los ataques de tiburón.

In [131]:
pattern="[A-Z][a-z]+"


df["date"]=df["date"].astype(str)

df['month_attack'] = df['date'].apply(lambda x: tn.monthattack(x, pattern))

In [132]:
df['month_attack'].sample(10)

1589    May
4990    May
441     Mar
1103    Jul
1125    May
1778    Apr
4031    NaN
3020    Jul
5044    May
3960    Oct
Name: month_attack, dtype: object

Ahora tengo una columna con los meses en los que se produjeron los atentados.

Las columnas "Activity" y "Type" también parecen interesantes, pero ya me parecen bastante limpias, así que las mantengo como recibidas.

In [133]:
df['activity'].value_counts(dropna=False).head(10)

activity
Surfing         971
Swimming        842
NaN             502
Fishing         423
Spearfishing    333
Bathing         155
Wading          146
Diving          115
Standing         99
Snorkeling       88
Name: count, dtype: int64

In [134]:
df['type'].value_counts(dropna=False).head(10)

type
Unprovoked      4454
Provoked         568
Invalid          549
Sea Disaster     230
Boating          208
Boat             134
NaN                4
Questionable       2
Boatomg            1
Name: count, dtype: int64

La columna "Time" mezcla horas y datos diurnos, creo que aportará más información si la ordeno por mañana, tarde, noche y noche.

In [135]:
df['time'].value_counts(dropna=False).head(20)

time
nan                3196
Afternoon          1505
Morning             895
Evening             260
Night               101
Late afternoon       34
Dusk                 15
A.M.                 12
P.M.                 12
Early morning        11
Midday               10
Early afternoon       8
--                    5
Midnight              4
Sunset                4
Late night            2
Dark                  2
Late afternon         2
                      2
AM                    2
Name: count, dtype: int64

In [136]:
pattern="^\d{2}|[A-Z][a-z]*"

df["time"]=df["time"].astype(str)
df['time'] = df['time'].apply(lambda x: sp.daytime(x, pattern))

In [137]:
df['time'].value_counts(dropna=False).head()

time
NaN          3389
Afternoon    1505
Morning       895
Evening       260
Night         101
Name: count, dtype: int64

La columna de lesiones parece limpia, no hay mucha información que obtener de ella, pero la mantendré.

In [139]:
df['fatal_(y/n)'].value_counts(dropna=False).head(50)

fatal_(y/n)
N          4237
Y          1300
NaN         540
UNKNOWN      63
 N            7
M             1
2017          1
N             1
Name: count, dtype: int64

In [140]:
pattern='^N|^Y'

df['fatal_(y/n)']=df['fatal_(y/n)'].astype(str)
df['fatal_(y/n)']=df['fatal_(y/n)'].apply(lambda x: sp.fatal(x, pattern))

In [141]:
df['fatal_(y/n)'].value_counts(dropna=False).head()

fatal_(y/n)
N      4238
Y      1300
NaN     612
Name: count, dtype: int64

En la columna Sexo hay algunos valores erróneos, así que vamos a limpiarla también

In [142]:
df['sex'].value_counts(dropna=False).head()

sex
M      4966
F       628
NaN     551
M         2
lli       1
Name: count, dtype: int64

In [144]:
pattern='[M,F]'
    
df['sex']=df['sex'].astype(str)
df['sex']=df['sex'].apply(lambda x: sp.sex(x, pattern))

In [145]:
df['sex'].value_counts(dropna=False).head()

sex
M      4968
F       628
NaN     554
Name: count, dtype: int64

In [146]:
df.columns

Index(['case_number', 'date', 'year', 'type', 'country', 'area', 'location',
       'activity', 'name', 'sex', 'age', 'injury', 'fatal_(y/n)', 'time',
       'species', 'investigator_or_source', 'pdf', 'case_number.1',
       'case_number.2', 'original_order', 'href', 'species_sorted', 'age2',
       'age3', 'month_attack'],
      dtype='object')

In [147]:
df.head()

,case_number,date,year,type,country,area,location,activity,name,sex,age,injury,fatal_(y/n),time,species,investigator_or_source,pdf,case_number.1,case_number.2,original_order,href,species_sorted,age2,age3,month_attack
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,Evening,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,2018.06.25,2018.06.25,6303.0,http://sharkattackfile.net/spreadsheets/pdf_di...,White shark,[57],57,Jun
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,Afternoon,nan,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,2018.06.18,2018.06.18,6302.0,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,[11],11,Jun
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,Morning,nan,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,2018.06.09,2018.06.09,6301.0,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,[48],48,Jun
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,nan,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,2018.06.08,2018.06.08,6300.0,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,[],38.590376,Jun
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,nan,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,2018.06.04,2018.06.04,6299.0,http://sharkattackfile.net/spreadsheets/pdf_di...,Tiger shark,[],36.174184,Jun

Ahora, todas las columnas que necesito están limpias y ordenadas, sólo tengo que crear un nuevo conjunto de datos con las columnas que quiero e importarlo.

In [148]:
df.columns

Index(['case_number', 'date', 'year', 'type', 'country', 'area', 'location',
       'activity', 'name', 'sex', 'age', 'injury', 'fatal_(y/n)', 'time',
       'species', 'investigator_or_source', 'pdf', 'case_number.1',
       'case_number.2', 'original_order', 'href', 'species_sorted', 'age2',
       'age3', 'month_attack'],
      dtype='object')

In [149]:
# dropeamos columnas que no vamos a usar
df.drop(columns=['age2','case_number.1',
                'case_number.2', 'original_order',
                'investigator_or_source', 'pdf', 
                'age',"name", "case_number"], inplace=True)

In [150]:
df

,date,year,type,country,area,location,activity,sex,injury,fatal_(y/n),time,species,href,species_sorted,age3,month_attack
0,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,F,"No injury to occupant, outrigger canoe and pad...",N,Evening,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,White shark,57,Jun
1,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,F,Minor injury to left thigh,N,Afternoon,nan,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,11,Jun
2,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,M,Injury to left lower leg from surfboard skeg,N,Morning,nan,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,48,Jun
3,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,M,Minor injury to lower leg,N,NaN,2 m shark,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,38.590376,Jun
4,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,M,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",http://sharkattackfile.net/spreadsheets/pdf_di...,Tiger shark,36.174184,Jun
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6102,Ca. Nov-1826,1826.0,Unprovoked,GHANA,Cape Coast,NaN,Bathing,M,FATAL,Y,NaN,nan,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,49.953654,Nov
6103,28-Aug-1826,1826.0,Sea Disaster,CUBA,NaN,NaN,HBM Magpie foundered in a squall,M,FATAL,Y,NaN,nan,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,15.025198,Aug
6104,Reported 15-Aug-1826,1826.0,Unprovoked,ENGLAND,Cumberland,Whitehaven,Bathing,NaN,FATAL,NaN,NaN,nan,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,21.492926,Aug
6105,Reported 20-May-1826,1826.0,Unprovoked,JAMAICA,NaN,NaN,Jumped overboard,M,FATAL,Y,Evening,nan,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,28.233452,May
6106,1820s,1825.0,Unprovoked,AUSTRALIA,Tasmania,"Sweet Water Point, Pitt Water",Swimming,M,FATAL,Y,NaN,nan,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,33.48886,NaN

In [151]:
# guardamos el dataframe en un csv
df.to_csv("../data/output/attacks_clean.csv", index=False)